@import models.softtech.controls.SoftTechControlsDisplay
@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._

@(display: SoftTechControlsDisplay)
@standardPage(display.pageTitle, Some(Html(display.pageTitle))){
  @errorSummary(display.form)
}{

  <form action="@display.formAction" method="POST">

    @contextFormParams()

    @if(!display.preResultsLabel.isEmpty) {
      <p class="pre-search-results font-small">
        @display.preResultsLabel
      </p>
    }

    <table class="search-results">
      <thead><tr><th></th></tr></thead>
      <tbody>
      @for(i <- 0 until display.controlCodes.size) {
        <tr>
          <td>
            <p>
              <button id="@display.controlCodes.get(i).controlCode-button" type="submit" class="link font-xsmall" name="controlCode" value="@display.controlCodes.get(i).controlCode">@Html(display.controlCodes.get(i).friendlyDescription)</button>
            </p>
          </td>
        </tr>
      }
      </tbody>
    </table>

    <div class="search-result-actions">
      <button type="submit" name="action" value="noMatchedControlCode" class="link underlined font-small no-matched-result-link">None of these describe my export</button>
    </div>

  </form>

}