@import models.softtech.controls.SoftTechControlsDisplay
@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.softtech.controls.routes.SoftTechControlsController

@(form: Form[_], display: SoftTechControlsDisplay)
@standardPage(display.pageTitle, Some(heading(display.pageTitle))){
  @errorSummary(form)
}{

  <form action="@SoftTechControlsController.handleSubmit" method="POST">

    @contextFormParams()

    @if(!display.preResultsLabel.isEmpty) {
      <p class="pre-search-results font-small">
        @display.preResultsLabel
      </p>
    }

    <ol class="search-results">
      @for(i <- 0 until display.controlCodes.size) {
        <li>
          <button id="@display.controlCodes.get(i).getControlCode-button" type="submit" class="link font-medium" name="controlCode" value="@display.controlCodes.get(i).getControlCode">@Html(display.controlCodes.get(i).getTitle)</button>
        </li>
      }
    </ol>

    <div class="search-result-actions">
      <button type="submit" name="action" value="noMatchedControlCode" class="link underlined font-small no-matched-result-link">None of these describe my export</button>
    </div>

  </form>

}