@import models.view.BreadcrumbItemView
@import play.twirl.api.HtmlFormat
@import views.html.frontendComponents.controlCodeBreadcrumbs._

@(controlCode: String, breadcrumbItemsViews: List[BreadcrumbItemView], controlEntryUrl: String, description: String)
<div>
  <h1 class="heading-medium modal-heading">
    @controlCode
  </h1>
  @controlCodeBreadcrumbs(){
    @for((breadcrumbItemView, index) <- breadcrumbItemsViews.zipWithIndex) {
      @if(index == breadcrumbItemsViews.size - 1) {
        @controlCodeBreadcrumbsDetailBox(isPathStep = true){
          @if(breadcrumbItemView.getText!=null) {
            <span class="bold">@breadcrumbItemView.getText</span>
          }
          @if(breadcrumbItemView.getDescription!=null) {
            @Html(breadcrumbItemView.getDescription)
          }
        }{
          @if(!description.isEmpty) {
            <span class="detail-box-content">
              @Html(description)
            </span>
          }
        }
      } else {
        @controlCodeBreadcrumbsStep(){
          @if(breadcrumbItemView.getText!=null) {
            <span class="bold">@breadcrumbItemView.getText</span>
          }
          @if(breadcrumbItemView.getDescription!=null) {
            @Html(breadcrumbItemView.getDescription)
          }
        }
      }
    }
  }
  @if(controlEntryUrl!=null) {
    <p>
      <a href="@controlEntryUrl">Go to this control entry</a>
    </p>
  }
</div>