@import controllers.prototype.PrototypeDisplay
@import util._
@import views.html.common.form._
@import views.html.common.page._
@import views.html.common.state._
@import controllers.prototype.routes.PrototypeController4
@import utils.common.SelectOption

@(form: Form[_], display: PrototypeDisplay, options: List[SelectOption])
@standardPage(display.pageTitle, Some(heading(display.pageTitle))){
}{

  <form action="@PrototypeController4.handleSubmit()" method="POST">
    @contextFormParams()

    @formRadioGroup(form("exportOptions"), options) {
      What are you trying to do?
    }

    <button type="submit" class="button">Save and continue</button>

  </form>
}