@import controllers.prototype.PrototypeDisplay
@import util._
@import views.html.common.form._
@import views.html.common.page._
@import views.html.common.state._
@import controllers.prototype.routes.PrototypeController3

@(form: Form[_], display: PrototypeDisplay)
@standardPage(display.pageTitle, Some(heading(display.pageTitle))){
}{

  <form action="@PrototypeController3.handleSubmit()" method="POST">

    @formRadioBoolean(form("sameGoods"), Html(display.option3))

    <button type="submit" class="button">Save and continue</button>

  </form>
}