@import util._
@import views.html.common.page._
@import views.html.common.form._

@import controllers.search.ControlCodeSearchResults

@(results: ControlCodeSearchResults, formAction: String)

@standardPage("Possible matches", Some(Html("Possible matches")), backLinkText = "Edit description"){

}{

  <p>
    <span class="font-medium">Select the description that most closely matches your items.</span>
  </p>

  <form action="@formAction" method="POST">

    <table class="search-results">

      <thead/>

      <tbody>

        @for(result <- results.getResults) {
          <tr>
            <td>
              <p>
                <button type="submit" class="link font-xsmall" name="result" value="@result.getCode()">@Html(result.getHighlightedText())</button>
              </p>
            </td>
          </tr>
        }
      </tbody>

    </table>

  </form>
}