@import util._
@import views.html.common.page._
@import views.html.common.form._

@(showFirearmsOrMilitary: Boolean)
@standardPage("You may not need a licence", Some(Html("You may not need a licence"))){ }{

  <p>
    Based on your answers, you may not need a licence to export your items.
  </p>

  <p>
    If you have been unable to identify your items but you still think you may need a licence, you can contact the Export Control Organisation (ECO) to discuss your export. You can contact them by telephone on 020 7215 4594, or by email at <a href="mailto:eco.help&commat;bis.gsi.gov.uk">eco.help&commat;bis.gsi.gov.uk</a>
  </p>

  @endUseControlsPanel(showFirearmsOrMilitary)

}