@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.search.SearchResultsController

@import models.search.SearchResultsBaseDisplay
@import models.controlcode.ControlCodeJourney
@(display: SearchResultsBaseDisplay)
  @standardPage(display.pageTitle, Some(Html(display.pageTitle)), pageName = Some("searchResultsBase")) {
    @errorSummary(display.form)
  }{

    <form action="@display.formAction" method="POST">

    @contextFormParams()

    @if(!display.results.isEmpty()) {

        @if(!display.preResultsLabel.isEmpty) {
          <p class="pre-search-results font-small">
            @display.preResultsLabel
          </p>
        }

        <input id="controlCodeJourneyHiddenInput" type="hidden" name="controlCodeJourney" value="@display.controlCodeJourney.value">

        <input id="goodsTypeHiddenInput" type="hidden" name="goodsType" value="@display.goodsType.value">

        <input id="resultsDisplayCountHiddenInput" type="hidden" name="resultsDisplayCount" value="@display.resultsDisplayCount">

        <input id="paginationSizeHiddenInput" type="hidden" name="paginationSize" value="@SearchResultsController.PAGINATION_SIZE">

        @if(display.lastChosenControlCode != null && !"".equals(display.lastChosenControlCode)) {
          <input id="lastChosenControlCodeHiddenInput" type="hidden" name="lastChosenControlCode" value="@display.lastChosenControlCode">
        }

        <table id="searchResults" class="search-results">
          <thead><tr><th></th></tr></thead>
          <tbody>
          @for(i <- 0 until Math.min(display.results.size, display.resultsDisplayCount)) {
            <tr>
              <td>
                <button id="@display.results.get(i).code-button" type="submit" class="link font-medium" name="result" value="@display.results.get(i).code">@Html(display.results.get(i).highlightedText)</button>
              </td>
            </tr>
          }
          </tbody>
        </table>

        <div class="search-result-actions">
          @if(display.resultsDisplayCount < display.results.size) {
            <p class="js-hidden">
              <button type="submit" name="action" value="show-more-results" class="button secondary show-more-results-button">Show more results</button>
            </p>
            <p id="showMoreResultsWrapper" class="js-only">
              <button type="button" id="showMoreResultsButton" class="button secondary show-more-results-button">Show more results</button>
            </p>
          }
          <button type="submit" name="action" value="no-matched-result" class="link underlined font-small no-matched-result-link">None of these describe my export</button>
        </div>

    } else {

      @if(display.controlCodeJourney == ControlCodeJourney.PHYSICAL_GOODS_SEARCH_RELATED_TO_SOFTWARE ||
        display.controlCodeJourney == ControlCodeJourney.PHYSICAL_GOODS_SEARCH_RELATED_TO_TECHNOLOGY) {

        <p>
          <button type="submit" name="action" value="edit-description" class="link underlined font-small no-matched-result-link">Edit your description</button>, and:
        </p>

        <ul class="list list-bullet text">
          <li class="font-">check your terms are spelled correctly</li>
          <li>try different terms</li>
          <li>if you are searching for components of larger items, widen your search to include those larger items</li>
        </ul>

        <p>
          If you cannot find the item related to your software, <button type="submit" name="action" value="continue" class="link underlined font-small no-matched-result-link">continue to use this service</button> to find out if other controls might apply.
        </p>

      } else {

        <p>
          Edit your description, and:
        </p>

        <ul class="list list-bullet text">
          <li class="font-">check your terms are spelled correctly</li>
          <li>try different terms</li>
          <li>if you are searching for components of larger items, widen your search to include those larger items</li>
        </ul>
      }

    </form>

    }

  }