@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.search.routes.SearchSpeciallyModifiedController
@import models.search.SpeciallyModifiedDisplay
@import models.search.SearchDisplay

@(form: Form[_], display: SpeciallyModifiedDisplay)
@standardPage(display.pageTitle, Some(heading(display.pageTitle))){
  @errorSummary(form)
} {

  <form action="@SearchSpeciallyModifiedController.handleSubmit("")" method="POST">

    @contextFormParams()

    @display.questionLabel

    @** to do after adding select option in controller
    @formRadioGroup(form("speciallyModified"), null)
    **@


    <fieldset>
      <legend class="visually-hidden"></legend>

      @fieldContainer(form("speciallyModified")) {

        <div class="form-group">
        @formRadio(form("speciallyModified"), "<span class=\"heading-small\">Yes - specifically designed</span>", "", false, "label-specially-modified")
        </div>

        <div class="form-group">
        @formRadio(form("speciallyModified"), "<span class=\"heading-small\">Yes - specifically modified</span>", "", false, "label-specially-modified")
        </div>

        <div class="form-group">
        @formRadio(form("speciallyModified"), "<span class=\"heading-small\">No</span>", "", false, "label-specially-modified")
        </div>

      }

    </fieldset>

    <button type="submit" class="button">Save and continue</button>

  </form>

}