@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._

@import models.search.SearchDisplay
@(display: SearchDisplay)
@standardPage(display.pageTitle, Some(Html(display.pageTitle)), pageName = Some("search")){
  @errorSummary(display.form)

}{

  <form action="@display.formAction" method="POST">

    @contextFormParams()

    @formTextarea(display.form("description"), cssClass = "form-control-wide", rows = "4") {
      @display.descriptionLabel
    }

    @formTextarea(display.form("component"), Some(Html("For example 'engine for submersible vehicle'")), cssClass = "form-control-wide", rows = "4"){
      @display.componentLabel
    }

    <div class="form-group">
      <button type="submit" class="button">Search</button>
    </div>

  </form>

}