@import components.services.search.Result
@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._

@(form: Form[_], goodsType: GoodsType, formAction: String,  results: List[Result], resultsDisplayCount: Int)
  @standardPage(
    if (!results.isEmpty()) "Possible matches" else "Your search did not return any results",
    Some(Html(if (!results.isEmpty()) "Possible matches" else "Your search did not return any results"))) {
    @errorSummary(form)
  }{

    @if(!results.isEmpty()) {

      <form action="@formAction" method="POST">

        @contextFormParams()
        <input id="goodsTypeHiddenInput" type="hidden" name="goodsType" value="@goodsType.value()">

        <input id="resultsDisplayCountHiddenInput" type="hidden" name="resultsDisplayCount" value="@resultsDisplayCount">

        <table id="searchResults" class="search-results">
          <thead><tr><th></th></tr></thead>
          <tbody>
          @for(i <- 0 until Math.min(results.size, resultsDisplayCount)) {
            <tr>
              <td>
                <p>
                  <button type="submit" class="link font-xsmall" name="result" value="@results.get(i).code">@Html(results.get(i).highlightedText)</button>
                </p>
              </td>
            </tr>
          }
          </tbody>
        </table>

        <div class="search-result-actions">
          @if(resultsDisplayCount < results.size) {
            <p class="js-hidden">
              <button type="submit" name="action" value="show-more-results" class="button secondary show-more-results-button">Show more results</button>
            </p>
            <p id="showMoreResultsWrapper" class="js-only">
              <button type="button" id="showMoreResultsButton" class="button secondary show-more-results-button">Show more results</button>
            </p>
          }
          <button type="submit" name="action" value="no-matched-result" class="link underlined font-small no-matched-result-link">None of these describe my export</button>
        </div>

      </form>

    } else {

      <p>
        Edit your description, and:
      </p>

      <ul class="list list-bullet text">
        <li class="font-">check your terms are spelled correctly</li>
        <li>try different terms</li>
        <li>if you are searching for components of larger items, widen your search to include those larger items</li>
      </ul>

    }

  }