@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.search.SearchResultsController
@import controllers.search.routes
@import models.controlcode.ControlCodeSubJourney
@import models.search.SearchResultsDisplay
@import controllers.search.SearchResultsController.SearchResultAction

@(display: SearchResultsDisplay)
@standardPage(display.pageTitle, Some(heading(display.pageTitle))) {
  @errorSummary(display.form)
} {

  <form action="@routes.SearchResultsController.handleSubmit()" method="POST">

  @contextFormParams()

  @if(!display.results.isEmpty()) {

      @if(!display.preResultsLabel.isEmpty) {
        <p class="pre-search-results font-small">
          @display.preResultsLabel
        </p>
      }

      <input id="controlCodeSubJourneyHiddenInput" type="hidden" name="controlCodeSubJourney" value="@display.controlCodeSubJourney.value">

      <input id="resultsDisplayCountHiddenInput" type="hidden" name="resultsDisplayCount" value="@display.resultsDisplayCount">

      <input id="paginationSizeHiddenInput" type="hidden" name="paginationSize" value="@SearchResultsController.PAGINATION_SIZE">

      @if(display.lastChosenControlCode != null && !"".equals(display.lastChosenControlCode)) {
        <input id="lastChosenControlCodeHiddenInput" type="hidden" name="lastChosenControlCode" value="@display.lastChosenControlCode">
      }

      <ol id="searchResults" class="search-results">
        @for(i <- 0 until Math.min(display.results.size, display.resultsDisplayCount)) {
          <li>
            <button id="@display.results.get(i).getControlCode-button" type="submit" role="link" class="link font-medium" name="result" value="@display.results.get(i).getControlCode">@Html(display.results.get(i).getDisplayText)</button>
          </li>
        }
      </ol>

      <div class="search-result-actions">
        @if(display.resultsDisplayCount < display.results.size) {
          <p class="js-hidden">
            <button type="submit" name="action" value="@SearchResultAction.SHOW_MORE" class="button secondary show-more-results-button">Show more results</button>
          </p>
          <p id="showMoreResultsWrapper" class="js-only">
            <button type="button" id="showMoreResultsButton" class="button secondary show-more-results-button">Show more results</button>
          </p>
        }
        <button type="submit" name="action" value="@SearchResultAction.NONE_MATCHED" class="link underlined font-small no-matched-result-link" role="link">None of these describe my export</button>
      </div>

  } else {

    @if(display.controlCodeSubJourney == ControlCodeSubJourney.PHYSICAL_GOODS_SEARCH_RELATED_TO_SOFTWARE ||
      display.controlCodeSubJourney == ControlCodeSubJourney.PHYSICAL_GOODS_SEARCH_RELATED_TO_TECHNOLOGY) {

      <p>
        <button type="submit" name="action" value="@SearchResultAction.EDIT_DESCRIPTION" class="link underlined font-small no-matched-result-link" role="link">Edit your description</button>, and:
      </p>

      <ul class="list list-bullet text">
        <li class="font-">check your terms are spelled correctly</li>
        <li>try different terms</li>
        <li>if you are searching for components of larger items, widen your search to include those larger items</li>
      </ul>

      <p>
        If you cannot find the item related to your software, <button type="submit" name="action" value="@SearchResultAction.CONTINUE" class="link underlined font-small no-matched-result-link" role="link">continue to use this service</button> to find out if other controls might apply.
      </p>

    } else {

      <p>
        Edit your description, and:
      </p>

      <ul class="list list-bullet text">
        <li class="font-">check your terms are spelled correctly</li>
        <li>try different terms</li>
        <li>if you are searching for components of larger items, widen your search to include those larger items</li>
      </ul>
    }
  }

  </form>

  <script type="text/javascript">
    @if(!display.results.isEmpty()) {
      $(document).ready(function(){LITEPermissionsFinder.SearchResults.setupPage()});
      $(window).load(function(){LITEPermissionsFinder.SearchResults.onload()});
    }
  </script>
}