@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.search.routes.SearchSpeciallyModifiedController
@import models.search.SpeciallyModifiedDisplay
@import models.search.SearchDisplay

@(form: Form[_], display: SpeciallyModifiedDisplay)
@standardPage(display.pageTitle, Some(heading(display.pageTitle))){
} {

  <form action="@SearchSpeciallyModifiedController.handleSubmit()" method="POST">

    @contextFormParams()

    @display.questionLabel

    @** to do after adding select option in controller
    @formRadioGroup(form("speciallyModified"), null)
    **@


    <button type="submit" class="button">Save and continue</button>

  </form>

}