@import components.services.controlcode.search.SearchServiceResult
@import util._
@import views.html.common.page._
@import views.html.common.form._

@(form: Form[_], formAction: String, results: List[SearchServiceResult], showResults: Boolean)
  @standardPage(
    if (showResults) "Possible matches" else "Your search did not return any results",
    Some(Html(if (showResults) "Possible matches" else "Your search did not return any results")),
    backLinkText = "Edit description") {
    @errorSummary(form)
  }{

    @if(showResults) {

      <form action="@formAction" method="POST">

        <table class="search-results">
          <thead><tr><th></th></tr></thead>
          <tbody>
          @for(result <- results) {
            <tr>
              <td>
                <p>
                  <button type="submit" class="link font-xsmall" name="result" value="@result.code">@Html(result.highlightedText)</button>
                </p>
              </td>
            </tr>
          }
          </tbody>
        </table>

        <div class="no-matched-result-wrapper">
          <button type="submit" name="action" value="no-matched-result" class="link underlined font-small">None of these describe my export</button>
        </div>

      </form>

    } else {

      <p>
        Edit your description, and:
      </p>

      <ul class="list list-bullet text">
        <li class="font-">check your terms are spelled correctly</li>
        <li>try different terms</li>
        <li>if you are searching for components of larger items, widen your search to include those larger items</li>
      </ul>

    }

  }