@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._

@import models.search.SearchBaseDisplay
@(display: SearchBaseDisplay)
@standardPage(display.pageTitle, Some(Html(display.pageTitle)), pageName = Some("searchBase")){
  @errorSummary(display.form)

}{

  <form action="@display.formAction" method="POST">

    @contextFormParams()

    @formTextarea(display.form("description"), cssClass = "form-control-wide", rows = "4") {
      @display.descriptionLabel
    }

    @***********************************
    <p><span class="bold-medium">Other information (optional)</span></p>
    <p>
      You don't have to complete these, but they can help to narrow your results.
    </p>
    ************************************@

    @formTextarea(display.form("component"), Some(Html("For example 'engine for submersible vehicle'")), cssClass = "form-control-wide", rows = "4"){
      @display.componentLabel
    }

    @***********************************
    @formInput(display.form("brand")){
      @display.brandLabel
    }

    @formInput(display.form("partNumber")){
      @display.partNumberLabel
    }
    ************************************@

    <div class="form-group">
      <button type="submit" class="button">Search</button>
    </div>

  </form>

}