@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.search.routes.SearchController
@import models.search.SearchDisplay

@(form: Form[_], display: SearchDisplay)
@standardPage(display.pageTitle, Some(heading(display.pageTitle))){
  @errorSummary(form)
} {

  <form action="@SearchController.handleSubmit()" method="POST">

    @contextFormParams()

    @formTextarea(form("itemName"), cssClass = "form-control-wide", rows = "2") {
      @display.itemLabel
    }

    @formTextarea(form("description"), cssClass = "form-control-wide", rows = "2") {
      @display.descriptionLabel
    }

    @formTextarea(form("partNumber"), cssClass = "form-control-wide", rows = "1") {
      @display.partNumberLabel
    }

    @formRadioBooleanWithContent(form("isComponent"), HtmlFormat.empty, display.isComponentLabel, display.isCompleteLabel, false, None){
      <div id="componentWrapper">
      @formTextarea(form("component"), Some(Html("")), cssClass = "form-control-wide", rows = "4"){
        @display.componentLabel
      }
      </div>
    }(HtmlFormat.empty)

    <div class="form-group">
      <button type="submit" class="button">Search</button>
    </div>

  </form>

  <script type="text/javascript">
    $(document).ready(function(){LITEPermissionsFinder.Search.setupPage()});
  </script>
}