@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.search.routes.SearchController
@import models.search.SearchDisplay

@(form: Form[_], display: SearchDisplay)
@standardPage(display.pageTitle, Some(Html(display.pageTitle)), pageName = Some("search")){
  @errorSummary(form)

}{

  <form action="@SearchController.handleSubmit()" method="POST">

    @contextFormParams()

    @formTextarea(form("description"), cssClass = "form-control-wide", rows = "4") {
      @display.descriptionLabel
    }

    @formRadioBoolean(form("isComponent"), Html(display.isComponenetLabel))

    <p class="js-hidden">
      <span class="bold-medium">If yes, answer the question below</span>
    </p>

    <div id="componentWrapper" class="js-hidden">
      @formTextarea(form("component"), Some(Html("For example 'engine for submersible vehicle'")), cssClass = "form-control-wide", rows = "4"){
        @display.componentLabel
      }
    </div>

    <div class="form-group">
      <button type="submit" class="button">Search</button>
    </div>

  </form>

}