@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._

@(form: Form[_])
@standardPage("Refining your licence results", Some(heading("Refining your licence results"))){
  @errorSummary(form, fieldOrder = scala.List("forRepairReplacement", "forExhibitionDemonstration", "before1897upto35k"))
} {

  <form action="@controllers.ogel.routes.OgelQuestionsController.handleSubmit()" method="POST">

    @contextFormParams()

    @formRadioBoolean(form("forRepairReplacement"), Html("Are you exporting goods for or after repair or replacement?"))

    @formRadioBoolean(form("forExhibitionDemonstration"), Html("Are you exporting goods for or after exhibition or demonstration?"))

    @formRadioBoolean(form("before1897upto35k"), Html("Are you exporting items manufactured before 1897 with a value of no more than £35,000?"))

    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>

  </form>

  <script type="text/javascript">
    $(document).ready(function(){LITEPermissionsFinder.OgelQuestions.setupPage()});
  </script>
}