@import uk.gov.bis.lite.ogel.api.view.OgelFullView
@import controllers.ogel.OgelSummaryController.OgelSummaryForm
@import util._
@import views.html.common.page._
@import views.html.common.state._
@import views.html.ogel._

@(form: Form[OgelSummaryForm], ogel: OgelFullView, physicalGoodControlCode: String, allowedToProceed: Boolean)
@standardPage(ogel.getName, Some(Html(ogel.getName))){
  @errorSummary(form)
}{

  <p>
    You may be able to use the open general export licence <strong class="bold-small">@ogel.getName</strong>. What you can and can&apos;t do with this licence is show below.
  </p>

  @ogelConditionSummary(ogel)

  <form action="@controllers.ogel.routes.OgelSummaryController.handleSubmit()" method="POST">

    @contextFormParams()

  @if(allowedToProceed) {

    <div class="ogel-summary-confirmation">
      <button type="submit" class="button" name="action" value="register">Register for this licence</button>
    </div>

  } else {

    <div class="ogel-summary-confirmation">
      <button type="submit" class="button" name="action" value="register" disabled="disabled">Register for this licence</button>
    </div>

    <div class="ogel-not-applicable">
      <p>
        Although some items within the classification <strong class="bold-small">@physicalGoodControlCode</strong> can be exported using @ogel.getName, your items are not covered by this licence.
      </p>
      <button type="submit" class="link underlined" name="action" value="chooseAgain">Choose a different licence</button>
    </div>

  }

  </form>
  
}