@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import models.ogel.OgelNotApplicableDisplay

@(form: Form[_], display: OgelNotApplicableDisplay)
@standardPage(display.pageTitle, Some(heading(display.pageTitle))){
  @errorSummary(form)
}{

  <form action="@controllers.ogel.routes.OgelNotApplicableController.handleSubmit" method="POST">

    @contextFormParams()

    <p>
      Although some items within the classification <strong class="bold-small">@display.controlCode</strong> can be exported using the licence <strong class="bold-small">@display.ogelTitle</strong>,
      your items are not covered by this licence. You can:
    </p>

    <div class="form-group">
      <ul class="list list-bullet text">
        <li>
          <button type="submit" class="link underlined" name="action" value="continueToLicence">read the details of this licence anyway</button>
        </li>
        <li>
          <button type="submit" class="link underlined" name="action" value="chooseAnotherLicence">choose a different licence</button>
        </li>
      </ul>
    </div>
    
  </form>
  
}