@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import components.services.ogels.ogel.OgelServiceResult

@(form: Form[_], ogelServiceResult: OgelServiceResult,controlCode: String)
@standardPage("The licence is not applicable to your item", Some(Html("The licence is not applicable to your item"))){
  @errorSummary(form)
}{

  <form action="@controllers.ogel.routes.OgelNotApplicableController.handleSubmit" method="POST">

    @contextFormParams()

    <p>
      Although some items within the classification <strong class="bold-medium">@controlCode</strong> can be exported using @ogelServiceResult.name, your items are not covered by this licence. You can:
    </p>

    <div class="form-group">
      <button type="submit" class="link underlined" name="action" value="continueToLicence">- read the details of this licence anyway</button>
      <br/>
      <button type="submit" class="link underlined" name="action" value="chooseAnotherLicence">- choose a different licence</button>
    </div>
    
  </form>
  
}