@import util._
@import views.html.common.page._
@import views.html.common.form._

@(physicalGoodControlCode: String, destinationCountry: String)
@standardPage("We could not find a licence for you", Some(Html("We could not find a licence for you"))){ }{

  <p>
    At the moment there are no open general export licences (OGELs) you can use to send or take items under the classification <strong class="bold-small">@physicalGoodControlCode</strong> to <strong class="bold-small">@destinationCountry</strong>.
  </p>

  <p>
    You may be able to use a standard individual export licence (SIEL). SIELs will be introduced to this service soon, but for now you can apply for a SIEL through the SPIRE licensing service.
  </p>

  <p>
    <a class="button font-medium" href="https://www.spire.bis.gov.uk/spire/fox/espire/LOGIN/login">Apply for a SIEL using SPIRE</a>
  </p>
  
}