@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import uk.gov.bis.lite.ogel.api.view.OgelFullView
@import components.services.ogels.conditions.OgelConditionsServiceResult

@this(standardPage: standardPage)
@(form: Form[_], ogel: OgelFullView, ogelRestriction: OgelConditionsServiceResult, missingControlCodes: Boolean, isVirtualEUOgel: Boolean)
@standardPage("Additional conditions apply", Some(heading("Additional conditions apply"))){
  @errorSummary(form)
}{

  <form action="@controllers.ogel.routes.OgelConditionsController.handleSubmit" method="POST">

    @contextFormParams()

    @if(isVirtualEUOgel) {
      <p>
        Not all items within the classification <strong class="bold-small">@ogelRestriction.controlCode</strong> can be exported without a licence to an EU country
      </p>
    } else {
      <p>
        Not all items within the classification <strong class="bold-small">@ogelRestriction.controlCode</strong> can be exported using the open general export licence <strong class="bold-small">@ogel.getName</strong>
      </p>
    }

    <h2 class="heading-medium">Are you exporting any of the following?</h2>

    <div class="stored-content-container">
    @Html(ogelRestriction.conditionDescription)
    </div>

    @if(ogelRestriction.conditionDescriptionControlCodes.isPresent && !ogelRestriction.conditionDescriptionControlCodes.get.getControlCodes.isEmpty) {
      <ul class="list list-bullet text">
        @for(controlCode <- ogelRestriction.conditionDescriptionControlCodes.get.getControlCodes) {
         <li>@Html(controlCode.getFriendlyDescription)</li>
        }
      </ul>
    }

    @formRadioBoolean(form.field("doConditionsApply"), Html(""))

    @if(missingControlCodes) {

      <div class="form-group">
        <button type="submit" class="button" disabled="disabled">Continue</button>
      </div>

    } else {

      <div class="form-group">
        <button type="submit" class="button">Continue</button>
      </div>

    }

  </form>
  
}