@import uk.gov.bis.lite.ogel.api.view.OgelFullView
@import org.apache.commons.lang3.StringUtils

@(ogel: OgelFullView)

<h2 class="heading-medium">
  What you can do
</h2>

<ul class="ogel-summary-bullet-list">
@for(can <- ogel.getSummary.getCanList) {
  <li>
  @Html(can)
  </li>
}
</ul>

<h2 class="heading-medium">
@Html("What you can't do")
</h2>

<ul class="ogel-summary-bullet-list">
@for(cant <- ogel.getSummary.getCantList) {
  <li>
  @Html(cant)
  </li>
}
</ul>

<h2 class="heading-medium">
  What you must do
</h2>

<ul class="list ogel-summary-bullet-list">
@for(must <- ogel.getSummary.getMustList) {
  <li>
  @Html(must)
  </li>
}
</ul>

@if(StringUtils.isNoneBlank(ogel.getLink)) {
  <p class="bold-small">
    <a class="external" href="@ogel.getLink" rel="external" target="_blank">Read the full licence<span class="visually-hidden"> (opens in a new tab)</span></a>
    for more on how to use it, what you can export and permitted export destinations.
  </p>
}