@import models.view.RegisterResultView
@import uk.gov.bis.lite.ogel.api.view.OgelFullView
@import org.apache.commons.lang3.StringUtils
@import util._
@import views.html.ogel._

@(view: RegisterResultView, ogel: OgelFullView, dashboardUrl: String)
@standardPage(view.getTitle, Some(heading(view.getTitle))) {

}{

  @if(StringUtils.isNoneBlank(ogel.getLink)) {
    <p class="bold-small">
      <a class="external" href="@ogel.getLink" rel="external" target="_blank">View your licence<span class="visually-hidden"> (opens in a new tab)</span></a>
    </p>
  }

  <p>
    <a href="@dashboardUrl" target="_blank">Go to My Dashboard</a>
  </p>
}
