@import components.services.ogels.ogel.OgelServiceResult
@import controllers.ogel.OgelSummaryController.OgelSummaryForm
@import util._
@import views.html.common.page._
@import views.html.common.state._

@(form: Form[OgelSummaryForm], ogel: OgelServiceResult, physicalGoodControlCode: String, allowedToProceed: Boolean)
@standardPage(ogel.name, Some(Html(ogel.name))){
  @errorSummary(form)
}{

  <p>
    You may be able to use the <strong class="bold-small">@ogel.name</strong>. What you can and can&apos;t do with this licence is show below.
  </p>

  <h2 class="heading-medium">
    What you can do
  </h2>

  <ul class="ogel-summary-bullet-list">
    @for(can <- ogel.summary.canList) {
      <li>
        @can
      </li>
    }
  </ul>

  <h2 class="heading-medium">
    What you can&apos;t do
  </h2>

  <ul class="ogel-summary-bullet-list">
    @for(cant <- ogel.summary.cantList) {
      <li>
        @cant
      </li>
    }
  </ul>

  <h2 class="heading-medium">
    What you must do
  </h2>

  <ul class="list ogel-summary-bullet-list">
    @for(must <- ogel.summary.mustList) {
      <li>
        @must
      </li>
    }
  </ul>

  <p class="bold-small">
    <a class="external" href="@ogel.link" rel="external" target="_blank">Read the full licence</a> for more on how to use it, what you can export and permitted export destinations.
  </p>

  <form action="@controllers.ogel.routes.OgelSummaryController.handleSubmit()" method="POST">

    @contextFormParams()

  @if(allowedToProceed) {

    <div class="ogel-summary-confirmation">
      <button type="submit" class="button" name="action" value="register">Register for this licence</button>
    </div>

  } else {

    <div class="ogel-summary-confirmation">
      <button type="submit" class="button" name="action" value="register" disabled="disabled">Register for this licence</button>
    </div>

    <div class="ogel-not-applicable">
      <p>
        Although some items within the classification <strong class="bold-small">@physicalGoodControlCode</strong> can be exported using @ogel.name, your items are not covered by this licence.
      </p>
      <button type="submit" class="link underlined" name="action" value="chooseAgain">Choose a different licence</button>
    </div>

  }

  </form>
  
}