@import util._
@import views.html.common.page._
@import views.html.common.state._
@import models.ogel.OgelResultsDisplay

@(form: Form[_], display: OgelResultsDisplay)
@standardPage(display.pageTitle, Some(Html(display.pageTitle))){
  @errorSummary(form)
}{

  <form action="@controllers.ogel.routes.OgelResultsController.handleSubmit()" method="POST">

    @contextFormParams()

    @if(display.ogels.size > 0) {

      <div class="form-group">
        <ol class="ogel-results search-results">
          @for(ogel <- display.ogels) {
            <li>
              <button type="submit" class="link" name="chosenOgel" value="@ogel.getId">@ogel.getName</button>
              <div class="font-xsmall">
              @for(entry <- ogel.getUsageSummary) {
                @entry<br/>
              }
              </div>
            </li>
          }
        </ol>
      </div>

      <div class="form-group">
        @detailPanel("none-suitable")(Html("None of these are suitable for my export")){
          <p>
            If you cannot use one of the open licences above, you should apply for a standard individual export licence (SIEL).
          </p>

          <p>
            SIELs will be introduced to this service soon, but for now you can apply for a SIEL through the SPIRE licensing service.
          </p>

          <a class="button font-medium" href="https://www.spire.trade.gov.uk/spire/fox/espire/LOGIN/login">Apply for a SIEL using SPIRE</a>
        }
      </div>

    } else {

      <p>
        At the moment there are no open general export licences (OGELs) you can use to send or take items under the classification <strong class="bold-small">@display.controlCodeTitle</strong> to <strong class="bold-small">@Html(display.destinationCountryNamesHtml)</strong>.
      </p>

      <p>
        You should use a standard individual export licence (SIEL). SIELs will be introduced to this service soon, but for now you can apply for a SIEL through the SPIRE licensing service.
      </p>

      <p>
        <a class="button font-medium" href="https://www.spire.trade.gov.uk/spire/fox/espire/LOGIN/login">Apply for a SIEL using SPIRE</a>
      </p>

    }

  </form>
}