@import org.apache.commons.lang3.StringUtils
@import models.view.AnswerView
@import models.view.BreadcrumbView
@import views.html.triage.subAnswers
@import views.html.frontendComponents.formCheckboxWithDetailPanel

@this(triagePage: triagePage)
@(form: Form[_], stageId: String, sessionId: String, resumeCode: String, controlCode: String, title: String, explanatoryText: String, answerViews: Map[AnswerView, Boolean], breadcrumbView: BreadcrumbView, showNoteMessage: Boolean)

@triagePage(form, routes.StageController.handleSubmit(stageId, sessionId).toString, sessionId, resumeCode, title, breadcrumbView, "Checking against decontrols"){
  @controlCode: Checking against decontrols
}{
  <p class="form-hint">
    Decontrols describe items not controlled under the UK Strategic Export Control Lists. Select all that apply.
  </p>
  @noteMessage(showNoteMessage)
  <p>
    @if(StringUtils.isNotBlank(explanatoryText)) {
      @Html(explanatoryText)
    } else {
      This control list entry does not control:
    }
  </p>
  <div class="form-group">
    @multiSelectCheckboxes(form("answers"), answerViews)
  </div>
}
