@import models.view.BreadcrumbView
@import models.view.AnswerView
@import views.html.triage.outcomePage
@import views.html.common.form.formCheckbox
@import views.html.common.page._

@this(outcomePage: outcomePage)
@(form: Form[_], stageId: String, sessionId: String, resumeCode: String, decontrolUrl: String, breadcrumbView: BreadcrumbView, answerViews: List[AnswerView])

@outcomePage("Item not listed", sessionId, resumeCode) {

  @twoThirdsColumn{
    @errorSummary(form)
  }

  <p class="lede">
    Based on the choices you've made, your item is not controlled on the UK Military List.
  </p>

  @decontrolBreadcrumb(decontrolUrl, breadcrumbView, answerViews)

  <h2 class="heading-large">What you should do next</h2>

  <ol class="circle-step-list">
    <li>
      Get someone who knows the technical details of your item to help you check the choices you've made against the
      technical specifications of your item.
    </li>
    <li>
      Even if if your item is not controlled it may still be affected by
      <a href="https://www.gov.uk/guidance/supplementary-wmd-end-use-controls" rel="external" target="_blank">
        WMD<span class="visually-hidden"> (opens in a new tab)</span>
      </a> and
      <a href="https://www.gov.uk/guidance/military-end-use-control-guidance-notes" rel="external" target="_blank">
        military<span class="visually-hidden"> (opens in a new tab)</span>
      </a> end use controls and any
      <a href="https://www.gov.uk/guidance/current-arms-embargoes-and-other-restrictions" rel="external" target="_blank">
        sanctions and embargoes<span class="visually-hidden"> (opens in a new tab)</span>
      </a>.
      To find out if your item needs a licence, log in to SPIRE and refer to the
      <a href="https://www.spire.trade.gov.uk" rel="external" target="_blank">
        End User Advisory Service (EUAS)<span class="visually-hidden"> (opens in a new tab)</span></a> or use the links above.
    </li>
    <li>
      You may generate a no licence required (NLR) document if, following the points above, you believe that your item
      is still not subject to controls.
    </li>
  </ol>

  <div class="banner danger-banner">
    <span class="visually-hidden">Warning:</span>
    Always double-check if your items are controlled. If you export controlled items without the correct export licence
    you could:
    <ul class="list list-bullet">
      <li>have your items seized</li>
      <li>face a fine</li>
      <li>serve up to 10 years in prison</li>
    </ul>
  </div>

  <form action="@routes.OutcomeController.handleOutcomeDecontrolSubmit(stageId, sessionId)" method="POST">
    @views.html.helper.CSRF.formField

    <div class="form-group">
      @formCheckbox(form("answer"), "I confirm that I have read and understood all the information detailed above.")
    </div>

    <button type="submit" class="button" name="action" value="continue">Generate an NLR document</button>
  </form>

}