@import models.view.BreadcrumbView
@import models.view.AnswerView
@import play.twirl.api.HtmlFormat
@import views.html.frontendComponents.controlCodeBreadcrumbs._
@import views.html.triage.outcomePage
@import views.html.common.state.contextFormParams
@import views.html.common.form.formCheckbox
@import com.google.common.collect.Iterables
@import views.html.common.page._

@this(outcomePage: outcomePage)
@(form: Form[_], stageId: String, sessionId: String, resumeCode: String, breadcrumbView: BreadcrumbView, answerViews: List[AnswerView])

@outcomePage("Item not listed", sessionId, resumeCode) {

  @twoThirdsColumn{
    @errorSummary(form)
  }

  <p class="lede">
    Based on the answers you've provided, your item is not included on the UK Strategic Export Control Lists.
  </p>

  @controlCodeBreadcrumbs(isWide = true) {
    @for(breadcrumbItemView <- breadcrumbView.getBreadcrumbItemViews) {
      @controlCodeBreadcrumbsStep(breadcrumbItemView.getUrl) {
        @if(breadcrumbItemView.getText!=null) {
          <span class="bold">@breadcrumbItemView.getText</span>
        }
        @if(breadcrumbItemView.getDescription!=null) {
          @Html(breadcrumbItemView.getDescription)
        }
        @if(!breadcrumbItemView.getNoteViews.isEmpty) {
          @controlCodeBreadcrumbsDetailBox()(HtmlFormat.empty) {
            @controlCodeBreadcrumbsNotes() {
              @for(noteView <- breadcrumbItemView.getNoteViews) {
                <li>@Html(noteView.getText)</li>
              }
            }
          }
        }
      }
    }
    @controlCodeBreadcrumbsDetailBox(isPathStep = true, changeUrl = Iterables.getLast(breadcrumbView.getBreadcrumbItemViews).getUrl) {
      <h2 class="outcome-detail-box-heading">Item is decontrolled</h2>
        @if(Iterables.getLast(breadcrumbView.getBreadcrumbItemViews).getText!=null) {
          <span class="bold">@Iterables.getLast(breadcrumbView.getBreadcrumbItemViews).getText</span>
        }
        @if(Iterables.getLast(breadcrumbView.getBreadcrumbItemViews).getDescription!=null) {
          @Html(Iterables.getLast(breadcrumbView.getBreadcrumbItemViews).getDescription)
        }
        @if(!answerViews.isEmpty) {
          <ul>
            @for(answerView <- answerViews) {
              <li>
                @Html(answerView.getPrompt + subAnswers(answerView.getSubAnswerViews) + answerView.getNestedContent)
              </li>
            }
          </ul>
        }
    }(HtmlFormat.empty)
  }

  <h2 class="heading-large">What you should do next</h2>

  <ol class="circle-step-list">
    <li>
      If you have not consulted the relevant item design margins and/or a technical officer with the appropriate
      knowledge, we advise you do so before requesting a No Licence Required (NLR) document or proceeding past this page.
    </li>
    <li>
      Even if if your item is not controlled it may still be affected by end use controls and any
      <a href="https://www.gov.uk/guidance/sanctions-embargoes-and-restrictions" rel="external" target="_blank">
        sanctions and embargoes<span class="visually-hidden"> (opens in a new tab)</span>
      </a>.
      Refer to the
      <a href="#" rel="external" target="_blank">
        end user advisory service (LINK TO BE UPDATED)<span class="visually-hidden"> (opens in a new tab)</span>
      </a>
      to understand whether your item may need a licence.
    </li>
    <li>
      You may request an NLR document if, following the points above, you believe that your item is still not subject
      to controls.
    </li>
  </ol>

  <div class="banner danger-banner">
    <span class="visually-hidden">Warning:</span>
    If you export your item without a licence, you will be responsible for any penalties should a licence be required.
  </div>

  <form action="@routes.OutcomeController.handleOutcomeDecontrolSubmit(stageId, sessionId)" method="POST">
    @contextFormParams()

    <div class="form-group">
      @formCheckbox(form("answer"), "I confirm that I have read and understood all the information detailed above.")
    </div>

    <button type="submit" class="button" name="action" value="continue">Request an NLR document</button>
  </form>

}
