@import views.html.util._
@import views.html.triage.outcomePage

@this(outcomePage: outcomePage)
@(sessionId: String, resumeCode: String)

@outcomePage("Item not found", sessionId, resumeCode, false) {
<p class="govuk-body">
	You have not found your item in the UK Military List. This does not mean that your item is not controlled.
</p>

<div class="banner danger-banner">
  <span class="govuk-visually-hidden">Warning:</span>
  Always double-check if your items are controlled. If you export controlled items without the correct export licence
  you could:
  <ul class="govuk-list govuk-list--bullet">
	<li>have your items seized</li>
	<li>face a fine</li>
	<li>serve up to 10 years in prison</li>
  </ul>
</div>

<h2 class="govuk-heading-l">What you should do next</h2>

<ol class="circle-step-list">
	<li>
		Get someone who knows the technical details of your details of your item to help you check the choices you've
		made against the technical specifications of your item.
	</li>
	<li>
		Go back to verify the type of item and which category it falls under within the UK Military List.
	</li>
	<li>
		Consider whether your item is specially designed for military use or not. If your item is not military than you
		should consider the dual use list.
	</li>
</ol>

<h2 class="govuk-heading-l">Export control licenses</h2>

<p class="govuk-label">You cannot export items without a licence if:</p>

<ul class="govuk-list govuk-list--bullet">
	<li>you know or suspect they'll be used in a weapons of mass destruction programme or delivery system (also known
		as 'end-use controls')</li>
	<li>you're exporting dual-use items that do not usually need an export licence but you know or suspect they might
		be incorporated into military equipment for use in embargoed countries</li>
	<li>there are embargoes, sanctions or other restrictions which cover your export destination</li>
</ul>

<p class="govuk-label">
	Find out more about
	<a class="govuk-link" href="https://www.gov.uk/guidance/supplementary-wmd-end-use-controls" rel="external" target="_blank">
		WMD<span class="govuk-visually-hidden"> (opens in a new tab)</span>
	</a> and
	<a class="govuk-link" href="https://www.gov.uk/guidance/military-end-use-control-guidance-notes" rel="external" target="_blank">
		military<span class="govuk-visually-hidden"> (opens in a new tab)</span>
	</a> end use controls and any
	<a class="govuk-link" href="https://www.gov.uk/guidance/current-arms-embargoes-and-other-restrictions" rel="external" target="_blank">
		sanctions and embargoes<span class="govuk-visually-hidden"> (opens in a new tab)</span>
	</a>.
</p>
}
