@import models.view.BreadcrumbItemView
@import play.twirl.api.HtmlFormat
@import views.html.frontendComponents.controlCodeBreadcrumbs._
@import com.google.common.collect.Iterables

@(breadcrumbItemsViews: List[BreadcrumbItemView], nlrLetter: Boolean)

@import java.lang.String; var controlCodeChangeUrl=""; var notFoundChangeUrl=""

@controlCodeBreadcrumbs(isWide = true) {
  @for(breadcrumbItemView <- breadcrumbItemsViews) {
    @if(!nlrLetter) {
      @{controlCodeChangeUrl= breadcrumbItemView.getUrl}
    }
    @controlCodeBreadcrumbsStep(controlCodeChangeUrl) {
      @if(breadcrumbItemView.getText!=null) {
        <span class="bold">@breadcrumbItemView.getText</span>
      }
      @if(breadcrumbItemView.getDescription!=null) {
        @Html(breadcrumbItemView.getDescription)
      }
      @if(!breadcrumbItemView.getNoteViews.isEmpty) {
        @controlCodeBreadcrumbsDetailBox()(HtmlFormat.empty) {
          @controlCodeBreadcrumbsNotes() {
            @for(noteView <- breadcrumbItemView.getNoteViews) {
              <li>@Html(noteView.getText)</li>
            }
          }
        }
      }
    }
  }
  @if(!nlrLetter) {
    @{notFoundChangeUrl= Iterables.getLast(breadcrumbItemsViews).getUrl}
  }
  @controlCodeBreadcrumbsDetailBox(isPathStep = true, notFoundChangeUrl) {
    <span class="outcome-detail-box-heading">Item has none of the controlled characteristics</span>
  }(HtmlFormat.empty)
}