@import models.view.BreadcrumbView
@import models.view.SubAnswerView
@import views.html.common.form._
@import views.html.triage.subAnswers
@import views.html.frontendComponents.controlCodeBreadcrumbs._
@import play.twirl.api.HtmlFormat
@import views.html.util._
@import views.html.common.page._

@this(standardPage: standardPage)
@(form: Form[_], stageId: String, sessionId: String, resumeCode: String, breadcrumbView: BreadcrumbView, controlCode: String, description: String, subAnswerViews: List[SubAnswerView])

@standardPage("Is this your item?", Some(heading("Is this your item?")), true, resumeCode, true){
  @errorSummary(form)
}{

<div class="govuk-inset-text">
	<p>"@Html(description)"</p>
	@if(!subAnswerViews.isEmpty) {
		@subAnswers(subAnswerViews)
	}
</div>

  <blockquote>
  </blockquote>

  <p class="govuk-label">
    This is the control list classification hierarchy for this item.
    It does not necessarily reflect your journey through this service.
  </p>

  @controlCodeBreadcrumbs(isWide = true) {
    @for(breadcrumbItemView <- breadcrumbView.getBreadcrumbItemViews) {
      @controlCodeBreadcrumbsStep(breadcrumbItemView.getUrl) {
        @if(breadcrumbItemView.getText!=null) {
          <span class="bold">@breadcrumbItemView.getText</span>
        }
        @if(breadcrumbItemView.getDescription!=null) {
          @Html(breadcrumbItemView.getDescription)
        }
      }
    }
    @controlCodeBreadcrumbsDetailBox(isPathStep = true) {
      <h3 class="govuk-heading-m">@controlCode</h3>
      <p class="govuk-label">
        @Html(description)
	</p>
      @if(!subAnswerViews.isEmpty) {
        @subAnswers(subAnswerViews)
      }
    }{
      @if(!breadcrumbView.getNoteViews.isEmpty) {
        @controlCodeBreadcrumbsNotes() {
          @for(noteView <- breadcrumbView.getNoteViews) {
            <li>@Html(noteView.getText)</li>
          }
        }
      }
    }
  }

  <form action="@routes.StageController.handleSubmit(stageId, sessionId).toString" method="POST">
    @views.html.helper.CSRF.formField
    @formRadioBoolean(form("answer"), Html("Does this describe your item?"))
    <button type="submit" class="govuk-button" name="action" value="continue">Save and continue</button>
  </form>

  <input type="hidden" id="sessionId" value="@sessionId"/>
  <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/triage.js")"></script>

}
