@import uk.gov.bis.lite.user.api.view.UserDetailsView
@import uk.gov.bis.lite.customer.api.view.SiteView
@import util._

@this(standardPage: standardPage)
@(resumeCode: String, content: Html)

@standardPage("Item is listed", Some(heading("Your Journey Outcome Has Been Saved")), twoThirdsColumn = true, resumeCode = resumeCode) {
} {
  <p>This journey outcome has been saved.</p>
  <p>If you would like to define a different item, please <a href="@routes.EntryPointController.index" target="_blank">return to the start of this process</a> in order to check your goods are controlled.</p>
  <p>Your new journey will be saved against a different resume code.</p>

  @content
}
