@import models.view.BreadcrumbItemView
@import models.view.SubAnswerView
@import play.twirl.api.HtmlFormat
@import views.html.frontendComponents.controlCodeBreadcrumbs._
@import views.html.common.page._

@this()
@(breadcrumbItemViews: List[BreadcrumbItemView], controlCode: String, description: String, subAnswerViews: List[SubAnswerView])

<p class="govuk-caption-l">
  Based on the choices you've made, the control list entry for your item is @controlCode.
</p>

@controlCodeBreadcrumbs(isWide = true) {
  @for(breadcrumbItemView <- breadcrumbItemViews) {
    @controlCodeBreadcrumbsStep(breadcrumbItemView.getUrl) {
      @if(breadcrumbItemView.getText!=null) {
        <span class="bold">@breadcrumbItemView.getText</span>
      }
      @if(breadcrumbItemView.getDescription!=null) {
        @Html(breadcrumbItemView.getDescription)
      }
      @if(!breadcrumbItemView.getNoteViews.isEmpty) {
        @controlCodeBreadcrumbsDetailBox()(HtmlFormat.empty) {
          @controlCodeBreadcrumbsNotes() {
            @for(noteView <- breadcrumbItemView.getNoteViews) {
              <li>@Html(noteView.getText)</li>
            }
          }
        }
      }
    }
  }
  @controlCodeBreadcrumbsDetailBox(isPathStep = true) {
    <h2 class="govuk-heading-m">@controlCode</h2>
    <div>
      @Html(description)
    </div>
    @if(!subAnswerViews.isEmpty) {
      @subAnswers(subAnswerViews)
    }
  }(HtmlFormat.empty)
}
