@import models.view.BreadcrumbItemView
@import models.view.SubAnswerView
@import play.twirl.api.HtmlFormat
@import views.html.frontendComponents.controlCodeBreadcrumbs._
@import views.html.triage.outcomePage
@import views.html.common.state.contextFormParams
@import views.html.common.form.formCheckbox
@import com.google.common.collect.Iterables
@import views.html.common.page._

@this()
@(form: Form[_], controlEntryId: String, sessionId: String, breadcrumbItemViews: List[BreadcrumbItemView], controlCode: String, description: String, subAnswerViews: List[SubAnswerView])

@outcomePage("Item is listed", sessionId) {

  @twoThirdsColumn{
    @errorSummary(form)
  }

  <p class="lede">
    Based on the answers you've provided, the control list classification for your item is @controlCode.
  </p>

  @controlCodeBreadcrumbs(isWide = true) {
    @for(breadcrumbItemView <- breadcrumbItemViews) {
      @controlCodeBreadcrumbsStep(breadcrumbItemView.getUrl) {
        @if(breadcrumbItemView.getText!=null) {
          <span class="bold">@breadcrumbItemView.getText</span>
        }
        @if(breadcrumbItemView.getDescription!=null) {
          @Html(breadcrumbItemView.getDescription)
        }
        @if(!breadcrumbItemView.getNoteViews.isEmpty) {
          @controlCodeBreadcrumbsDetailBox()(HtmlFormat.empty) {
            @controlCodeBreadcrumbsNotes() {
              @for(noteView <- breadcrumbItemView.getNoteViews) {
                <li>@Html(noteView.getText)</li>
              }
            }
          }
        }
      }
    }
    @controlCodeBreadcrumbsDetailBox(isPathStep = true) {
      <p class="font-medium">@controlCode</p>
      <div>
        @Html(description)
      </div>
      @if(!subAnswerViews.isEmpty) {
        @subAnswers(subAnswerViews)
      }
    }(HtmlFormat.empty)
  }

  <h2 class="heading-large">What you should do next</h2>

  <ol class="circle-step-list">
    <li>
      Get someone who knows the technical details of your item to help you check the choices you've made against the
      technical specifications of your item.
    </li>
    <li>
      If you have consulted and used the right information, and you believe this is the correct classification code then
      you should proceed to register for an OGEL. If you're not eligible for an OGEL then you'll be taken through to the
      SIEL application.
    </li>
    <li>
      If you think that the classification is wrong, we recommend going back through the process with the appropriate
      knowledge/technical knowledge or contact the Control List Classification Advice Service.
    </li>
  </ol>

  <div class="banner danger-banner">
    <span class="visually-hidden">Warning:</span>
    Controlled items will require a licence to move between countries.
  </div>

  <form action="@routes.OutcomeController.handleOutcomeListedSubmit(controlEntryId, sessionId)" method="POST">
    @contextFormParams()

    <div class="form-group">
      @formCheckbox(form("answer"), "I confirm that I have read and understood all the information detailed above.")
    </div>

    <button type="submit" class="button" name="action" value="continue">Check for an OGEL</button>
  </form>
  <p></p>
  If necessary please contact the Control List Classification Advice Service (CLCAS) [TODO Link] for any further advice.

}
