@import models.view.AnswerView
@import play.data.Form
@import views.html.common.page._
@import play.twirl.api.HtmlFormat

@(field: Form.Field, answerViews: Map[AnswerView, Boolean])


<div id="@field.getName.get" class="govuk-form-group">

  @* Iterator required to preserve ordering *@
  @for((answerView, index) <- answerViews.iterator.zipWithIndex) {

    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="@field.getName.get@index" type="checkbox" name="@{field.getName.get}[@index]" value="@answerView._1.getValue" @if(answerView._2) { checked="checked" }>
      <label class="govuk-label govuk-checkboxes__label" for="@field.getName.get@index">
      @Html(answerView._1.getPrompt + subAnswers(answerView._1.getSubAnswerViews) + answerView._1.getNestedContent)
      </label>

      @if(answerView._1.isDetailPanel) {
        @detailPanel(answerView._1.getValue + "detailPanel", field.getName.get + index + "-label")(Html("More information"))(answerMoreInformation(answerView._1))
      }

    </div>
  }
</div>
