@import views.html.util._
@import org.apache.commons.lang3.StringUtils
@import models.view.AnswerView
@import models.view.BreadcrumbView
@import views.html.triage.subAnswers
@import views.html.frontendComponents.formCheckboxWithDetailPanel
@import play.twirl.api.HtmlFormat
@import models.view.ProgressView

@this(standardPage: standardPage, triageBreadcrumb: triageBreadcrumb)
@(sessionId: String, resumeCode: String, progressView: ProgressView, breadcrumbView: BreadcrumbView)

@standardPage("We cannot find your item", None, twoThirdsColumn = false, resumeCode = resumeCode, showBackLink = true){
}{
  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <h1 class="heading-large">
          <span class="heading-secondary">
            @if(progressView.getCode != null) {
              @progressView.getCode&nbsp;
            }
            @if(progressView.getDescription != null) {
              @Html(progressView.getDescription)
            }
          </span>
          We cannot find your item
        </h1>
      </header>
      <p>
        Based on the choices you’ve made, we cannot help you find the control list entry for your item here.
      </p>
      <p>
        To find out your item’s control list entry and whether it’s controlled, you need to submit a request via our
        online Control List Classification Advice Service (CLCAS) through SPIRE.
      </p>
      <div class="banner danger-banner">
        <span class="visually-hidden">Warning:</span>
        If your item is controlled and you export it without the correct export licence, it may be seized and you could
        face fines and up to 10 years in prison.
      </div>
      <h1 class="heading-large">
        What you should do next
      </h1>
      <p>
        You need to log in to SPIRE to use and submit your request through the CLCAS where you’ll be asked to:
      </p>
      <ul>
        <li>
          - describe your item and how it will be used
        </li>
        <li>
          - outline your item’s original design intent – for example, if it was specially designed or modified for military
          use
        </li>
        <li>
          - upload your item’s technical details – for example, data sheets, product brochures and technical summaries
        </li>
      </ul>
      <p>
        <a href="#">
          Log in to SPIRE and submit a request via the Control List Classification Advice Service (CLCAS)[TODO Link]
        </a>
      </p>
    </div>
    <div class="column-one-third">
      @triageBreadcrumb(breadcrumbView, "")
    </div>
  </div>
}
