@import views.html.util._
@import views.html.common.page.twoThirdsColumn

@this(standardPage: standardPage)
@(title: String, sessionId: String, resumeCode: String, showSharingOptions: Boolean = true)(content: Html)

@standardPage(title.toString, None, twoThirdsColumn = false, resumeCode = resumeCode, showBackLink = true) {

} {
	<h1 class="govuk-heading-l">
		@title
	</h1>
  @twoThirdsColumn {
    @content
  }

  <input type="hidden" id="sessionId" value="@sessionId"/>
  <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/triage.js")"></script>

}
