@import models.view.AnswerView
@import models.view.BreadcrumbView
@import models.view.ProgressView
@import views.html.common.form._
@import views.html.triage.subAnswers
@import views.html.frontendComponents.formRadioWithDetailPanel
@import play.twirl.api.HtmlFormat

@this()
@(form: Form[_], stageId: String, sessionId: String, resumeCode: String, progressView: ProgressView, title: String, explanatoryText: String, answerViews: List[AnswerView], breadcrumbView: BreadcrumbView)

@triagePage(form, stageId, sessionId, resumeCode, title, breadcrumbView){
  @if(progressView.getCode != null) {
    @progressView.getCode&nbsp;
  }
  @if(progressView.getDescription != null) {
    @Html(progressView.getDescription)
  }
}{
  <p>@Html(explanatoryText)</p>
  @formRadioGroupContainer(form("answer"))(null) {
    @for(answerView <- answerViews) {
      @if(answerView.isDividerAbove) {
        <p class="form-block">or</p>
      }
      @formRadioWithDetailPanel(form("answer"), answerView.getPrompt + subAnswers(answerView.getSubAnswerViews) + answerView.getNestedContent, answerView.getValue, true, promptNewlineToBr = false, detailPanelId = answerView.getValue + "detailPanel", detailPanelPrompt = "More information"){
        @answerMoreInformation(answerView)
      }
    }
  }
}