@import models.view.AnswerView
@import models.view.BreadcrumbView
@import views.html.common.form._
@import views.html.frontendComponents.formRadioWithDetailPanel
@import play.twirl.api.HtmlFormat

@this()
@(form: Form[_], stageId: String, sessionId: String, title: String, explanatoryText: String, answerViews: List[AnswerView], breadcrumbView: BreadcrumbView)

@triagePage(form, stageId, sessionId, title, breadcrumbView)(HtmlFormat.empty){
  @formRadioGroupContainer(form("answer"))(null) {
    @for(answerView <- answerViews) {
      @formRadioWithDetailPanel(form("answer"), answerView.getPromptWithSubAnswers, answerView.getValue, true, promptNewlineToBr = false, detailPanelId = answerView.getValue + "detailPanel", detailPanelPrompt = "More information"){
        This is some more information for @answerView.getPrompt
      }
    }
  }
}