@import play.twirl.api.HtmlFormat
@import models.view.CheckboxView

@this()
@(form: Form[_], stageId: String, sessionId: String, title: String, checkboxViews: List[CheckboxView])

@triagePage(form, stageId, sessionId, title)(HtmlFormat.empty){
  <div class="form-group">
  @for((checkboxView, index) <- checkboxViews.iterator.zipWithIndex) {
    <div class="multiple-choice">
      <input id="answers@index" type="checkbox" name="answers[@index]" value="@checkboxView.getAnswerView.getValue" @if(checkboxView.isChecked) { checked="checked" }>
      <label for="answers@index">@checkboxView.getAnswerView.getPrompt</label>
    </div>
  }
  </div>
}