@import models.view.AnswerView
@import models.view.BreadcrumbView
@import models.view.ProgressView
@import views.html.triage.subAnswers
@import views.html.frontendComponents.formCheckboxWithDetailPanel
@import org.apache.commons.lang3.StringUtils

@this(triagePage: triagePage)
@(form: Form[_], stageId: String, sessionId: String, resumeCode: String, progressView: ProgressView, title: String,
  explanatoryText: String, relatedEntryDescription: String, answerViews: Map[AnswerView, Boolean], breadcrumbView: BreadcrumbView)

@triagePage(form, routes.StageController.handleSubmit(stageId, sessionId).toString, sessionId, resumeCode, title, breadcrumbView, ""){
  @if(progressView.getCode != null) {
    @progressView.getCode&nbsp;
  }
  @if(progressView.getDescription != null) {
    @Html(progressView.getDescription)
  }
}{
  <div class="govuk-form-group @if(form("answers").error.isDefined) { form-group-error }">
    <div class="fieldset">
      <div class="legend">
        <p class="govuk-hint">
          Select all the control list entries which describe your item.
        </p>
        @noteMessage(!breadcrumbView.getNoteViews.isEmpty)
        @if(StringUtils.isNotBlank(explanatoryText)) {
          <p class="govuk-body">@Html(explanatoryText)</p>
        }
        @if(StringUtils.isNotBlank(relatedEntryDescription)) {
          <p class="govuk-body">@Html(relatedEntryDescription)</p>
        }
        @if(form("answers").error.isDefined) {
          <span class="govuk-error-message">@Messages(form("answers").error.get.message)</span>
        }
      </div>
      @multiSelectCheckboxes(form("answers"), answerViews)
    </div>
  </div>
}
