@import models.view.AnswerView
@import models.view.BreadcrumbView
@import views.html.triage.subAnswers
@import views.html.frontendComponents.formCheckboxWithDetailPanel
@import play.twirl.api.HtmlFormat

@this()
@(form: Form[_], stageId: String, sessionId: String, progressCode: String, progressDescription: String, title: String, explanatoryText: String, answerViews: List[AnswerView], breadcrumbView: BreadcrumbView)

@triagePage(form, stageId, sessionId, title, breadcrumbView){
  @if(progressCode != null || progressDescription != null) {
    @progressCode @progressDescription
  }
}{
  <p>@explanatoryText</p>
  <div class="form-group">
    @for((answerView, index) <- answerViews.iterator.zipWithIndex) {
      @formCheckboxWithDetailPanel(form("answers"), answerView.getPrompt + subAnswers(answerView.getSubAnswerViews), isPromptHtml = true, inputId = "answers" + index, inputName = "answers[" + index + "]", inputValue = answerView.getValue, detailPanelId = answerView.getValue + "detailPanel", detailPanelPrompt = "More information") {
        This is some more information for @answerView.getPrompt
      }
    }
  </div>
}
