@import models.view.BreadcrumbView
@import play.twirl.api.HtmlFormat
@import views.html.frontendComponents.controlCodeBreadcrumbs._

@this()
@(breadcrumbView: BreadcrumbView, breadcrumbTitle: String)

<h2 class="heading-medium">You are here</h2>
@controlCodeBreadcrumbs(){
  @for((breadcrumbItemView, index) <- breadcrumbView.getBreadcrumbItemViews.zipWithIndex) {
    @if(index == breadcrumbView.getBreadcrumbItemViews.size - 1) {
      @controlCodeBreadcrumbsDetailBox(isPathStep = true, changeUrl = breadcrumbItemView.getUrl){
        @if(breadcrumbItemView.getText!=null) {
          <span class="bold">@breadcrumbItemView.getText</span>
        }
        @if(breadcrumbItemView.getDescription!=null) {
          @Html(breadcrumbItemView.getDescription)
        }
      }{
        @if(!breadcrumbTitle.isEmpty) {
          @breadcrumbTitle
        }

        @if(!breadcrumbView.getNoteViews.isEmpty) {
          @controlCodeBreadcrumbsNotes(isNotesLinkTarget = true) {
            @for(noteView <- breadcrumbView.getNoteViews) {
              <li>@Html(noteView.getText)</li>
            }
          }
        }
      }
    } else {
      @controlCodeBreadcrumbsStep(breadcrumbItemView.getUrl){
        @if(breadcrumbItemView.getText!=null) {
          <span class="bold">@breadcrumbItemView.getText</span>
        }
        @if(breadcrumbItemView.getDescription!=null) {
          @Html(breadcrumbItemView.getDescription)
        }
      }
    }
  }
}
