@import models.view.BreadcrumbView
@import play.twirl.api.HtmlFormat
@import views.html.common.page._
@import views.html.common.state._
@import views.html.frontendComponents.controlCodeBreadcrumbs._
@import views.html.util._

@this(standardPage: standardPage, triageBreadcrumb: triageBreadcrumb)
@(form: Form[_], stageId: String, sessionId: String, resumeCode: String, title: String, breadcrumbView: BreadcrumbView)(secondaryHeading: Html)(formContent: Html)

@standardPage(title, None, twoThirdsColumn = false, resumeCode = resumeCode, showBackLink = true){
}{
  @twoThirdsColumn{
    @errorSummary(form)
  }

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <h1 class="heading-large">
          @if(secondaryHeading.body.trim.nonEmpty) {
            <span class="heading-secondary">
            @secondaryHeading
            </span>
          }
          @title
        </h1>
      </header>

      <form action="@routes.StageController.handleSubmit(stageId,sessionId)" method="POST">
        @contextFormParams()
        @formContent

        <button type="submit" class="button" name="action" value="continue">Save and continue</button>
        <button type="submit" class="button secondary" name="action" value="none" data-skip-validation>None of the above</button>

      </form>
    </div>
    <div class="column-one-third">
      @triageBreadcrumb(breadcrumbView)
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){LITEPermissionsFinder.Triage.setupPage('@sessionId')});
  </script>
}
