$border-color: govuk-colour("grey-2");

.govuk-inset-text--warning {
	border-left: 10px solid rgba( govuk-colour("red"), .4 );
}

.govuk-fieldset__legend {
	.govuk-hint {
		margin-top: 0;
	}
}

.has-change-link {
	padding-right: 4.5em!important;
	& > .detail-box {
		width: calc(100% + 4.5em);
	}
	& > *:last-child {
		margin-bottom: 0!important;
		padding-bottom: 0!important;
	}
}

#tradeType > .govuk-radios__item > .govuk-label {
	padding: 0!important;
}

#auth-banner {
	color: govuk-colour("white");
	font-weight: 600;
	margin-top: govuk-spacing(1);
	a {
		color: govuk-colour("white");
		margin-left: govuk-spacing(2);
	}
}

.breadcrumb-notes {
	list-style-type: none;
	padding: 0!important !important;

	li {
		padding: 0!important !important;
		height: auto!important;
	}
}

.detail-box .control-code-breadcrumbs-notes {
	border-top: 2px solid $border-color;
}

.govuk-radios__item, .govuk-checkboxes__item {
	.govuk-details {
		margin-bottom: govuk-spacing(3)!important;
		margin-left: 15px;
	}
}

.control-code-breadcrumbs {
	list-style-type: none;
	-webkit-padding-start: 0;
	margin-bottom: govuk-spacing(6);

	& > li {
		@include govuk-font($size: 19);
		@include govuk-text-colour;
		position: relative;
		padding: 0 govuk-spacing(4) 0 govuk-spacing(8) + 1px;

		.breadcrumb-change-link {
			position: absolute;
			top: 18px;
			right: 10px;
		}

		& > *:last-child {
			margin-bottom: 0!important;
			padding-bottom: 0!important;
		}

		&:last-of-type {
			position: relative;
			margin-top: 10px;
			background: govuk-colour("white");
			height: auto!important;
			z-index: 1;
			border: 2px solid $border-color;
			padding: govuk-spacing(4);

			.detail-box-content {
				* {
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
		}

		&:not(:last-of-type) {
			padding-top: 20px;

			&:before {
				content: "";
				position: absolute;
				top: 24px;
				left: govuk-spacing(4) - 1px;
				bottom: -24px;
				width: 2px;
				background-color: $border-color;
			}

			&:after {
				content: "";
				position: absolute;
				top: 22px;
				left: govuk-spacing(4) - 7px;
				width: 10px;
				height: 10px;
				border-radius: 100%;
				background-color: govuk-colour("white");
				border: 2px solid $border-color;
			}
		}

		&:last-of-type {
			.breadcrumb-change-link {
				position: absolute;
				top: 20px;
				right: 20px;
			}
		}
	}
}

.control-code-breadcrumbs-notes {
	background-color: govuk-colour("grey-4");
	border-left: 2px solid $border-color;
	border-right: 2px solid $border-color;
	border-bottom: 2px solid $border-color;
	padding: govuk-spacing(4);
	& > *:last-child {
		margin-bottom: 0!important;
		padding-bottom: 0!important;
	}
}

.control-code-breadcrumbs-notes--standalone {
	border-top: 2px solid $border-color;
	margin-bottom: govuk-spacing(6);
}

li:last-of-type > .control-code-breadcrumbs-notes {
	margin: - govuk-spacing(4);
	border: none;
}

li > .control-code-breadcrumbs-notes {
	margin-top: govuk-spacing(4)!important;
	border-top: 2px solid $border-color!important;
}

main {
	padding-bottom: govuk-spacing(9);
}

.govuk-label + .govuk-list {
	padding-top: govuk-spacing(4);
}

.related-content {
	position: relative;
	padding-top: $govuk-gutter-half + 10px;

	.govuk-list li {
		@include govuk-font($size: 16);
		padding-bottom: govuk-spacing(2);
	}

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 10px;
		background-color: $govuk-brand-colour;
		@include govuk-media-query($from: tablet) {
			right: $govuk-gutter-half;
		}
	}
}

.media-tablet {
	display: none;
	@include govuk-media-query($from: tablet) {
		display: initial;
	}
}

.media-mobile {
	display: none;
	@include govuk-media-query($until: tablet) {
		display: initial;
	}
}
