@import models.common.Country
@(field: Field, countries: List[Country])
<div class="form-group@if(field.error.isDefined) { error}">
  <div class="grid-row">
    <div class="column-one-half">
      @if(field.error.isDefined) {
        <p class="error-message">@Messages(field.error.get.message)</p>
      }

      <span class="form-hint">Type your destination country or territory.</span>

      <select name="@field.name" id="@field.id" class="ui-autocomplete-base" autofocus="autofocus" autocorrect="off" autocomplete="off">
        @if(!field.value.isDefined || (field.value.isDefined && "".equals(field.value.get))) {
          <option value="" selected="selected"></option>
        }
        @for(country <- countries) {
          <option value="@country.getCountryRef" data-alternative-spellings="" data-relevancy-booster="1" @if(field.value.isDefined && country.equals(field.value.get)){selected="selected"}>@country.getCountryName</option>
        }
      </select>
    </div>
  </div>
</div>