@import models.common.Country
@import views.html.common.page._
@import views.html.util._
@(field: Field, removeButtonValue: Integer, showRemoveButton: Boolean, showDetailPanel: Boolean, countries: List[Country])
<div class="form-group@if(field.error.isDefined) { error}">
  <div class="grid-row">
    <div class="column-one-half">
      @if(field.error.isDefined) {
        <p class="error-message">@Messages(field.error.get.message)</p>
      }

      <span class="form-hint">Type your destination country or territory</span>

      @if(showDetailPanel) {
        @detailPanel("destination-help"){
          Can't find your destination?
        } {

          <p>
            If you can't find your destination, country or territory you can get help from the
            government's Export Control Organisation
          </p>

          @helpInfoPanel()

        }
      }

      <select name="@field.name" id="@field.id" class="ui-autocomplete-base" autofocus="autofocus" autocorrect="off" autocomplete="off" ui-autocomplete="ui-autocomplete">
        <option value="" @if(!field.value.isDefined || (field.value.isDefined && "".equals(field.value.get))) {selected="selected"}></option>
        @for(country <- countries) {
          <option value="@country.getCountryRef" data-alternative-spellings="" data-relevancy-booster="1" @if(field.value.isDefined && country.getCountryRef.equals(field.value.get)){selected="selected"}>@country.getCountryName</option>
        }
      </select>

      @if(showRemoveButton) {

        <button type="submit" class="link underlined" name="removeThroughDestination" value="@removeButtonValue">Remove</button>

      }

    </div>
  </div>
</div>