@(showFirearmsOrMilitary: Boolean)
<h2 class="heading-large">Weapons of mass destruction end-use controls</h2>

<p>
  If your items are not licensable, you still need to be sure they will not be used in any way connected to the proliferation of WMDs. If you have concerns about the end use of your export, you can request advice from the ECO’s End-User Advice Service via <a href="https://www.spire.bis.gov.uk/eng/fox/espire/LOGIN/login" class="external" target="_blank" rel="external">SPIRE</a>.
</p>

<p>
  WMD end-use controls do not generally apply to EU member states. The End-User Advice Service is not available for exports to EU member states, Australia, Canada, Iceland, Japan, New Zealand or the United States.
</p>

<p>
  Read more about <a href="https://www.gov.uk/guidance/weapons-of-mass-destruction-wmd-end-use-control" class="external" target="_blank" rel="external">WMD end-use controls</a>.
</p>

@if(showFirearmsOrMilitary) {
  <h2 class="heading-large">Military end-use controls</h2>

  <p>
    You must also make sure your items are not covered by military end-use controls. You may be affected by this if you are exporting:

    <ul class="list list-bullet text">
      <li>dual-use items that are - or may be - intended for use with military equipment in an embargoed destination</li>
      <li>dual-use items that may be intended for use as parts of military goods illegally obtained from the UK, irrespective of destination</li>
    </ul>

  </p>
}

<p>
  Read more about <a href="https://www.gov.uk/guidance/military-end-use-control-guidance-notes" class="external" target="_blank" rel="external">military end-use controls</a>.
</p>

<h2 class="heading-large">Sanctions and embargoes</h2>

<p>
  You should also check that no sanctions or embargoes are in force where your items are being traded. For details about specific destinations see <a href="https://www.gov.uk/guidance/current-arms-embargoes-and-other-restrictions" class="external" target="_blank" rel="external">current arms embargoes and other restrictions</a>.
</p>