@import views.html.common.page.govukTemplate
@import play.twirl.api.HtmlFormat
@import components.common.auth.SpireAuthManager
@import models.template.AnalyticsConfig
@import org.apache.commons.lang3.StringUtils

@this(spireAuthManager: SpireAuthManager, analyticsConfig: AnalyticsConfig)
@(htmlTitle: String, propositionHeading: Html = Html("License controlled items and services"))(content: Html)

@head = {
  @if(StringUtils.isNotEmpty(analyticsConfig.getGoogleAnalyticsId)) {
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=@analyticsConfig.getGoogleAnalyticsId"></script>
    <script type="text/javascript" src="@controllers.routes.AnalyticsController.getAnalyticsJs()"></script>
  }
}

@bodyEnd = {
  <script type="text/javascript" src="@routes.JavaScriptRoutesController.javascriptRoutes"></script>
  <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/standard-page.js")"></script>
}

@propositionHeadingHtml = {
		  <a href="/" class="govuk-header__link govuk-header__link--service-name">
	      	@propositionHeading
	      </a>
        @if(spireAuthManager.getAuthInfoFromContext.isAuthenticated && propositionHeading.body.nonEmpty) {
            <p id="auth-banner">
              <span class="govuk-visually-hidden">Signed in as </span>@spireAuthManager.getAuthInfoFromContext.getFullName  <a href="@org.pac4j.play.routes.LogoutController.logout">Sign out</a>
            </p>
        }
}


@govukTemplate(
  Some(htmlTitle),
  bodyClasses = None,
  htmlLang = None
)(
  head = head,
  bodyStart = HtmlFormat.empty,
  bodyEnd = bodyEnd,
  insideHeader = HtmlFormat.empty,
  afterHeader = HtmlFormat.empty,
  footerTop = HtmlFormat.empty,
  footerLinks = Html("<li class=\"govuk-footer__inline-list-item\"><a class=\"govuk-footer__link\" href=\"/fair-processing-note\">Fair processing note</a></li>"),
  headerClass = Html("with-proposition"),
  propositionHeader = propositionHeadingHtml,
  homepageUrl = None,
  globalHeaderText = None,
  cookieMessage = None,
  skipLinkMessage = None,
  skipLinkTarget = "contentStart",
  logoLinkTitle = None,
  licenceMessage = Html("<p>All content is available under the " +
    "<a rel=\"license\" href=\"https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/\">Open Government Licence v3.0</a>," +
    " except where otherwise stated</p>"),
  crownCopyrightMessage = None
)(content)
