@import views.html.common.page.govukTemplate
@import play.twirl.api.HtmlFormat
@import components.common.auth.SpireAuthManager
@import models.template.AnalyticsConfig
@import org.apache.commons.lang3.StringUtils

@this(spireAuthManager: SpireAuthManager, analyticsConfig: AnalyticsConfig)
@(htmlTitle: String, propositionHeading: Html = Html("License controlled items and services"))(content: Html)

@head = {
  @if(StringUtils.isNotEmpty(analyticsConfig.getGoogleAnalyticsId)) {
    <!-- Google Analytics -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','@analyticsConfig.getGoogleAnalyticsId');</script>
  }
}

@bodyStart = {
	@if(StringUtils.isNotEmpty(analyticsConfig.getGoogleAnalyticsId)) {
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=@analyticsConfig.getGoogleAnalyticsId"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	}
}

@bodyEnd = {
  <script type="text/javascript" src="@routes.JavaScriptRoutesController.javascriptRoutes"></script>
  <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/standard-page.js")"></script>
}

@propositionHeadingHtml = {
		  <a href="/" class="govuk-header__link govuk-header__link--service-name">
	      	@propositionHeading
	      </a>
        @if(spireAuthManager.getAuthInfoFromContext.isAuthenticated && propositionHeading.body.nonEmpty) {
            <p id="auth-banner">
              <span class="govuk-visually-hidden">Signed in as </span>@spireAuthManager.getAuthInfoFromContext.getFullName  <a href="@org.pac4j.play.routes.LogoutController.logout">Sign out</a>
            </p>
        }
}


@govukTemplate(
  Some(htmlTitle),
  bodyClasses = None,
  htmlLang = None
)(
  head = head,
  bodyStart = bodyStart,
  bodyEnd = bodyEnd,
  insideHeader = HtmlFormat.empty,
  afterHeader = HtmlFormat.empty,
  footerTop = HtmlFormat.empty,
  footerLinks = Html("<li class=\"govuk-footer__inline-list-item\"><a class=\"govuk-footer__link\" href=\"/fair-processing-note\">Fair processing note</a></li><li class=\"govuk-footer__inline-list-item\"><a class=\"govuk-footer__link\" href=\"/need-assistance\">Need Assistance?</a></li>"),
  headerClass = Html("with-proposition"),
  propositionHeader = propositionHeadingHtml,
  homepageUrl = None,
  globalHeaderText = None,
  cookieMessage = None,
  skipLinkMessage = None,
  skipLinkTarget = "contentStart",
  logoLinkTitle = None,
  licenceMessage = Html("<p>All content is available under the " +
    "<a rel=\"license\" href=\"https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/\">Open Government Licence v3.0</a>," +
    " except where otherwise stated</p>"),
  crownCopyrightMessage = None
)(content)
