@import models.template.FeedbackConfig

@(feedbackConfig: FeedbackConfig)
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  BETA
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a href="@feedbackConfig.getFeedbackUrl()" target="_blank" class="govuk-link">feedback<span class="govuk-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it.
    </span>
  </p>
</div>
