@import util._
@import views.html.common.page._
@import play.mvc.Controller.ctx
@import models.template.FeedbackConfig

@this(govukTemplateDefaults: govukTemplateDefaults, feedbackConfig: FeedbackConfig)
@(htmlTitle: String, pageHeading: Option[Html], twoThirdsColumn: Boolean = true, resumeCode: String = "", showBackLink: Boolean = false)(beforeHeader: Html)(content: Html)

@govukTemplateDefaults(htmlTitle + " - License controlled items and services") {

<main id="content" role="main" class="govuk-width-container">

	@phaseBanner(feedbackConfig)

	<div class="nav-container">
		<div class="back-link-container">
			@if(showBackLink) {
			<a href="#" class="govuk-back-link" id="back-button">Back</a>
			}
		</div>

		@if(resumeCode != "") {
		<div class="resume-code-container">
			<div class="resume-code">
				<p>Reference code: @resumeCode</p>
			</div>
		</div>
		}

		<div class="nav-container-end"></div>
	</div>

	@if(twoThirdsColumn) {
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			}

			<a id="contentStart"></a>

			@beforeHeader

			<header>
				@if(pageHeading.isDefined) {
				@pageHeading
				}
			</header>

			@content

			@if(twoThirdsColumn) {
		</div>
	</div>
	}

</main>
}
