@import util._
@import views.html.common.journey._

@(htmlTitle: String, pageHeading: Option[Html], headingCssClass: String = "heading-xlarge", pageName: Option[String] = None)(beforeHeader: Html)(content: Html)

@govukTemplateDefaults(htmlTitle + " - Import & Export Licensing", pageName = pageName) {

  <main id="content" role="main">

    @phaseBanner()

    @journeyBackLink()

    <a id="contentStart"></a>

    @beforeHeader

    <header class="page-header">

      @if(pageHeading.isDefined) {
        <div>
          <h1 class="@headingCssClass">@pageHeading</h1>
        </div>
      }

    </header>

    @content

  </main>
}