@import util._
@import views.html.common.page._
@import play.mvc.Controller.ctx

@(htmlTitle: String, pageHeading: Option[Html], twoThirdsColumn: Boolean = true)(beforeHeader: Html)(content: Html)

@applicationCode = @{ctx().args.get("ctx_app_code")}

@govukTemplateDefaults(htmlTitle + " - Import & Export Licensing") {

  <main id="content" role="main">

    @phaseBanner()

    @backLink()

    @if(applicationCode != "") {
      <div class="application-code-wrapper">
        <div class="application-code bold-medium">@applicationCode</div>
      </div>
    }

    @if(twoThirdsColumn) {
      <div class="grid-row">
        <div class="column-two-thirds">
    }

    <a id="contentStart"></a>

    @beforeHeader

    <header class="page-header">
    @if(pageHeading.isDefined) {
      @pageHeading
    }
    </header>

    @content

    @if(twoThirdsColumn) {
        </div>
      </div>
    }

  </main>
}