@import util._
@import views.html.common.journey._
@import views.html.common.page._
@import play.mvc.Controller.ctx

@this(govukTemplateDefaults: govukTemplateDefaults)
@(htmlTitle: String, pageHeading: Option[Html], twoThirdsColumn: Boolean = true)(beforeHeader: Html)(content: Html)

@applicationCode = @{ctx().args.get("ctx_app_code")}

@govukTemplateDefaults(htmlTitle + " - Import & Export Licensing") {

  <main id="content" role="main">

    @phaseBanner()

    <div class="nav-container">
      <div class="back-link-container">
        @backLink()
      </div>

      @if(applicationCode != "") {
        <div class="application-code-container">
          <div class="application-code">
            <span class="bold-small">Reference code: @applicationCode</span>
          </div>
        </div>
      }

      <div class="nav-container-end"></div>
    </div>

    @if(twoThirdsColumn) {
      <div class="grid-row">
        <div class="column-two-thirds">
    }

    <a id="contentStart"></a>

    @beforeHeader

    <header class="page-header">
    @if(pageHeading.isDefined) {
      @pageHeading
    }
    </header>

    @content

    @if(twoThirdsColumn) {
        </div>
      </div>
    }

  </main>
}