@import util._
@import views.html.common.journey._

@(showLongRunningPrompt : Boolean)

  @standardPage("Register for an OGEL", Some(heading("Register for an OGEL"))) {

} {

    <form id="registrationInterval" action="@controllers.registration.routes.RegistrationOutcomeController.handleRegistrationProcessed()" method="POST">
    @journeyFormParams()

    <h2 id="pleaseWaitHeading" class="heading-medium @if(showLongRunningPrompt) {hidden}">
    Please wait whilst we process your OGEL registration request ...
    </h2>

    <div id="longRegistrationMessage" class="heading-medium @if(!showLongRunningPrompt) {hidden}">
    This registration is taking longer than expected. You may close your browser window and we will send you an email when the registration is complete.
    </div>

    <div class="form-group registrationIntervalNonJs">
    <button id="continue" name="continue" type="submit" value="continue" class="button">Refresh</button>
    </div>

    </form>

    <script>
    $(function() {
    LITEOgelRegistration.RegistrationInterval.setupPage();
    });
    </script>
}
