@import util._
@import views.html.util._
@import uk.gov.bis.lite.permissions.api.view.CallbackView
@import uk.gov.bis.lite.permissions.api.view.CallbackView.Result.BLACKLISTED
@import uk.gov.bis.lite.permissions.api.view.CallbackView.Result.SITE_ALREADY_REGISTERED

@this(standardPage: standardPage1)
@(callbackResult : CallbackView.Result)


@standardPage("OGEL Registration Summary", Some(heading("OGEL Registration Summary"))) {
  @Html("")
} {

  <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

  @if(callbackResult == SITE_ALREADY_REGISTERED) {
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
      OGEL already registered
    </h1>
    <p>The OGEL you specified is already registered at this location.</p>
  } else {

    @if(callbackResult == BLACKLISTED) {
      <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
        OGEL registration denied
      </h1>
      <p>
        The export location you have selected is not authorised to use open general export licences.
        For more information speak to the person within your organisation that is responsible for export control compliance.
      </p>
      <p>
        If you are the person responsible, please contact your compliance officer in the Export Control Organisation (ECO).
        You can contact the ECO by email at <a href="mailto:eco.help@@trade.gsi.gov.uk">eco.help@@trade.gsi.gov.uk</a>.
      </p>
      <p>
        Alternatively you can apply for a standard individual export licence (SIEL).
        SIELs will be added to this service later, but for now you can
        <a href="http://www.spire.trade.gov.uk/" rel="external" target="_blank">apply for a SIEL through SPIRE<span class="visually-hidden"> (opens in a new tab)</span></a>.
      </p>
    } else {
      <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
        OGEL registration failed
      </h1>
      <p>Unable to register your OGEL at the moment.</p>
    }

  }

  </div>
}


