@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import models.softtech.{DualUseSoftTechCategoriesDisplay, SoftTechCategory}

@(form: Form[_], display: DualUseSoftTechCategoriesDisplay)
@standardPage(display.pageTitle, Some(Html(display.pageTitle))){
  @errorSummary(form)
}{

  <form action="@display.formAction" method="POST">
    
    @contextFormParams()

    @detailPanel("NUCLEAR"){@SoftTechCategory.NUCLEAR.getHeading()} {
      <p>
        This includes software for equipment used in connection with nuclear reactors, thorium, deuterium, plutonium, uranium, depleted uranium or special fissile materials, nuclear reactor fuel elements, and auxiliary systems, equipment and components for isotope separation plant.
      </p>
      <button type="submit" id="continue" class="button next" name="dualUseSoftTechCategory" value="@SoftTechCategory.NUCLEAR">Continue</button>
    }

    @detailPanel("TELECOMS"){@SoftTechCategory.TELECOMS.getHeading()} {
      <p>
        This includes software for communications systems, signal processors, radio receivers, interception, jamming and monitoring equipment, location detection and tracking systems, surveillance systems, and equipment to ensure the security of information or communications, including cryptography, cryptographic activation and cryptanalysis.
      </p>
      <button type="submit" id="continue" class="button next" name="dualUseSoftTechCategory" value="@SoftTechCategory.TELECOMS">Continue</button>
    }

    @detailPanel("SPECIAL_MATERIALS"){@SoftTechCategory.SPECIAL_MATERIALS.getHeading()} {
      <p>
        This is software for equipment used to develop or produce non-nuclear materials and chemicals, including composite structures or laminates, fibrous or filamentary materials, metal alloys, metal alloy powder, alloyed materials, superplastic forming or diffusion bonding, explosive residue detection and analysis of reduced observables.
      </p>
      <button type="submit" id="continue" class="button next" name="dualUseSoftTechCategory" value="@SoftTechCategory.SPECIAL_MATERIALS">Continue</button>
    }

    @detailPanel("MATERIALS_PROCESSING"){@SoftTechCategory.MATERIALS_PROCESSING.getHeading()} {
      <p>
        This is software for equipment used in the manufacture of raw materials into finished goods, such as machine tools and assemblies, isostatic presses, spin-forming and flow-forming machines, balancing machines and anti-friction bearing systems.
      </p>
      <button type="submit" id="continue" class="button next" name="dualUseSoftTechCategory" value="@SoftTechCategory.MATERIALS_PROCESSING">Continue</button>
    }

    @detailPanel("MARINE"){@SoftTechCategory.MARINE.getHeading()} {
      <p>
        This includes software for submersible vehicles and surface vessels, marine systems and water tunnels.
      </p>
      <button type="submit" id="continue" class="button next" name="dualUseSoftTechCategory" value="@SoftTechCategory.MARINE">Continue</button>
    }

    @detailPanel("NAVIGATION"){@SoftTechCategory.NAVIGATION.getHeading()} {
      <p>
        This includes software for flight control systems, altimeters, Global Navigation Satellite System receiving equipment, accelerometers, gyros, inertial measurement equipment, star trackers, underwater sonar navigation systems, and integration software for navigation and avionics equipment.
      </p>
      <button type="submit" id="continue" class="button next" name="dualUseSoftTechCategory" value="@SoftTechCategory.NAVIGATION">Continue</button>
    }

    @detailPanel("AEROSPACE"){@SoftTechCategory.AEROSPACE.getHeading()} {
      <p>
        This includes software for engines, space launch vehicles and spacecraft, re-entry vehicles, liquid, solid and hybrid rocket propulsion systems, unmanned aerial vehicles and airships, hybrid rocket motors, and launch support equipment.
      </p>
      <button type="submit" id="continue" class="button next" name="dualUseSoftTechCategory" value="@SoftTechCategory.AEROSPACE">Continue</button>
    }

    @detailPanel("COMPUTERS"){@SoftTechCategory.COMPUTERS.getHeading()} {
      <p>
        This includes software for electronic computers, digital computers, systolic array computers, neural computers and optical computers, as well as intrusion software.
      </p>
      <button type="submit" id="continue" class="button next" name="dualUseSoftTechCategory" value="@SoftTechCategory.COMPUTERS">Continue</button>
    }

    @detailPanel("SENSORS"){@SoftTechCategory.SENSORS.getHeading()} {
      <p>
        This includes software for optical equipment, lasers, radar systems, monospectral imaging sensors, multispectral imaging sensors, real-time data processing equipment, cameras, magnetic sensors, gravity meters or gradiometers, and Air Traffic Control software.
      </p>
      <button type="submit" id="continue" class="button next" name="dualUseSoftTechCategory" value="@SoftTechCategory.SENSORS">Continue</button>
    }

    @detailPanel("ELECTRONICS"){@SoftTechCategory.ELECTRONICS.getHeading()} {
      <p>
        This includes software for recording equipment and oscilloscopes, acoustic wave devices, high energy devices, encoders, thyristor devices and modules, semiconductor devices, signal analysers or generators, network analysers, microwave test receivers, thermal management systems, accelerators, frequency changers or generators, and devices and circuits containing superconductive materials.
      </p>
      <button type="submit" id="continue" class="button next" name="dualUseSoftTechCategory" value="@SoftTechCategory.ELECTRONICS">Continue</button>
    }

    <p class="category-or">
      <span class="font-medium">or</span>
    </p>

    <div class="form-group">
      <button type="submit" id="continue" class="link underlined font-small no-matched-result-link" name="action" value="noneOfTheAbove">None of the above</button>
    </div>
    
  </form>
  
}