@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import models.softtech.{DualUseSoftTechCategoriesDisplay, SoftTechCategory}

@(form: Form[_], display: DualUseSoftTechCategoriesDisplay)
@categoryPanel(category: SoftTechCategory) = {
  @detailPanel(category.name()){@category.getHeading} {
    <p>
    @display.getContent(category)
    </p>
    <button type="submit" class="button next" name="dualUseSoftTechCategory" value="@category.name()">Continue<span class="visually-hidden"> to @category.getHeading()</span></button>
  }
}
@standardPage(display.pageTitle, Some(heading(display.pageTitle))){
  @errorSummary(form)
}{

  <div class="panel panel-border-wide">
    <p>
      You can expand each item below for more details.
    </p>
  </div>

  <form action="@display.formAction" method="POST">

    @contextFormParams()

    @categoryPanel(SoftTechCategory.NUCLEAR)

    @categoryPanel(SoftTechCategory.TELECOMS)

    @categoryPanel(SoftTechCategory.SPECIAL_MATERIALS)

    @categoryPanel(SoftTechCategory.MATERIALS_PROCESSING)

    @categoryPanel(SoftTechCategory.MARINE)

    @categoryPanel(SoftTechCategory.NAVIGATION)

    @categoryPanel(SoftTechCategory.AEROSPACE)

    @categoryPanel(SoftTechCategory.COMPUTERS)

    @categoryPanel(SoftTechCategory.SENSORS)

    @categoryPanel(SoftTechCategory.ELECTRONICS)

    <p class="category-or">
      <span class="font-medium">or</span>
    </p>

    <div class="form-group">
      <button type="submit" id="continue" class="link underlined font-small no-matched-result-link" role="link" name="action" value="noneOfTheAbove">None of the above</button>
    </div>

  </form>

}