@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import models.softtech.ExemptionsDisplay

@(form: Form[_], display: ExemptionsDisplay)
@standardPage("Some types of software do not need a licence", Some(Html("Some types of software do not need a licence"))){
  @errorSummary(form)
}{

  <form action="@display.formAction" method="POST">
    
    @contextFormParams()

    <h2 class="heading-medium">@display.questionLabel</h2>

    <ul class="list list-bullet text">
      @for(exemption <- display.exemptions) {
        <li>@exemption</li>
      }
    </ul>

    @formRadioBoolean(field = form("doExemptionsApply"), prompt = Html(display.questionLabel), hideHeading = true)

    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>
    
  </form>
  
}