@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.softtech.routes.RelationshipController

@(form: Form[_])
@standardPage("Is export covered by software technology relationship?", Some(Html("Is export covered by software technology relationship?"))){
  @errorSummary(form)
}{

  <form action="@RelationshipController.handleSubmit" method="POST">
    
    @contextFormParams()

    @formRadioBoolean(form("isCoveredByRelationship"), Html("Is export covered by the relationship below STUB"))
    
    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>
    
  </form>
  
}