@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.softtech.routes.RelatedEquipmentController

@(form: Form[_])
@standardPage("Software related to equipment or materials?", Some(Html("Software related to equipment or materials?"))){
  @errorSummary(form)
}{

  <form action="@RelatedEquipmentController.handleSubmit" method="POST">
    
    @contextFormParams()

    @*TODO Content*@

    <h2 class="heading-medium">Is your software related to the following?</h2>

    <ul class="list list-bullet text">
      <li>CONTENT</li>
    </ul>

    @formRadioBoolean(field = form("relatedToEquipmentOrMaterials"), prompt = Html("Is your software related to the following?"), hideHeading = true)

    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>
    
  </form>
  
}