@import models.softtech.SoftwareExemptionsDisplay
@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._

@(form: Form[_], display: SoftwareExemptionsDisplay)
@standardPage(display.pageTitle, Some(Html(display.pageTitle))){
  @errorSummary(form)
}{

  <form action="@display.formAction" method="POST">
    
    @contextFormParams()

    @if(!display.questionContent.isEmpty) {
      <h2 class="heading-medium">@display.questionLabel</h2>

      @if(display.questionContent.size() > 1) {
        <ul class="list list-bullet text">
        @for(contentItem <- display.questionContent) {
          <li>@contentItem</li>
        }
        </ul>
      } else {
        <p>
          @display.questionContent.get(0)
        </p>
      }

      @formRadioBoolean(field = form("doExemptionsApply"), prompt = Html(display.questionLabel), hideHeading = true)

    } else {

      @formRadioBoolean(field = form("doExemptionsApply"), prompt = Html(display.questionLabel))

    }

    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>
    
  </form>
  
}