@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.softtech.routes
@import models.softtech.TechnologyExemptionsDisplay

@(form: Form[_], display: TechnologyExemptionsDisplay)
@standardPage(display.pageTitle, Some(Html(display.pageTitle))){
  @errorSummary(form)
}{

  <form action="@routes.TechnologyExemptionsController.handleSubmit" method="POST">

    @contextFormParams()

    <h2 class="heading-medium">
      Are you exporting any of the following?
    </h2>

    <ul class="list list-bullet text">
      <li>Technical information that is in the public domain, for example available as a free download that does not require permission or payment to use</li>
      <li>Basic scientific research, limited to new knowledge of the fundamental principles of known phenomena or observable facts</li>
      <li>Non-nuclear technology that is the minimum necessary information for patent applications</li>
    </ul>

    @formRadioBoolean(form("doExemptionsApply"), Html("Are you exporting any of the following?"), hideHeading = true)

    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>

  </form>

}