@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.softtech.routes
@import models.softtech.TechnologyNonExemptDisplay

@(form: Form[_], display: TechnologyNonExemptDisplay)
@standardPage("Finding the right licence", Some(heading(display.questionHeading))){
  @errorSummary(form)
}{

  <form action="@routes.TechnologyNonExemptController.handleSubmit" method="POST">
    
    @contextFormParams()

    <p>
      For example, a manual containing instructions on how to install an aero gas turbine engine or operate a military vehicle.
    </p>

    @formRadioBoolean(form("isNonExempt"), Html(display.questionHeading))

    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>
    
  </form>
  
}