@import controllers.licencefinder.LicenceFinderController
@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import uk.gov.bis.lite.countryservice.api.CountryView
@import play.data.Form
@import views.html.common.form._
@import play.twirl.api.HtmlFormat

@(form: Form[_], countries: List[CountryView], fieldOrderList: List[String])

@multipleCountriesQuestion = @{
  Html(LicenceFinderController.DESTINATION_MULTIPLE_QUESTION)
}

@legend = {
  <div class="panel panel-border-wide">
    <p>
      You only need a Form 680 approval to export classified or sensitive materials. <a href="https://www.gov.uk/guidance/mod-f680-applications" rel="external" target="_blank">
      Read more about MOD Form 680</a>.</p>
  </div>
}


@countryDetailPanel = {
  @detailPanel("destination-help"){
    I can't find my destination
  } {
    <h2 class="heading-medium">Need some help?</h2>
    If you can't find your destination country or territory you can get help from the government's Export Control organisation, by telephone on 020 7215 4594, or by email at <a href="mailto:eco.help@@trade.gsi.gov.uk">eco.help@@trade.gsi.gov.uk</a>.
  }
}

@standardPage("Finding the right licence", Some(heading(LicenceFinderController.DESTINATION_QUESTION))){
  @errorSummary(form, fieldOrder = fieldOrderList)
} {
  <form action="@controllers.licencefinder.routes.LicenceFinderController.handleDestinationSubmit()" method="POST">

    @contextFormParams()

    @countrySelect(form(LicenceFinderController.DESTINATION_COUNTRY), countries, Some("Type your destination country or territory"), Some("form-hint"), None, Some(countryDetailPanel))

    @formRadioBooleanWithContent(form(LicenceFinderController.MULTIPLE_COUNTRIES), multipleCountriesQuestion, "h1", "heading-large") {
      @countrySelect(form(LicenceFinderController.FIRST_CONSIGNEE_COUNTRY), countries, Some("Type the country or territory where the first consignee or other party will receive the items"), Some("form-hint"), None, Some(countryDetailPanel))
    }(HtmlFormat.empty)

    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>
  </form>

  <script type="text/javascript">
    $(document).ready(function(){LITEPermissionsFinder.DestinationCountry.setupPage()});
  </script>
}