@import controllers.licencefinder.DestinationController
@import util._
@import views.html.common.page._
@import views.html.common.form._
@import uk.gov.bis.lite.countryservice.api.CountryView
@import play.data.Form
@import views.html.common.form._
@import play.twirl.api.HtmlFormat

@this(standardPage: standardPage)
@(form: Form[_], countries: List[CountryView], sessionId: String)

@multipleCountriesQuestion = @{
  Html(DestinationController.DESTINATION_MULTIPLE_QUESTION)
}

@destinationDetailPanel = {
  @detailPanel("destination-help"){
    I can't find my destination
  } {
    <h2 class="heading-medium">Need some help?</h2>
    If you can't find your destination country or territory you can get help by email at <a href="mailto:exportservicesteam@@digital.trade.gov.uk">exportservicesteam@@digital.trade.gov.uk</a>.
  }
}

@consigneeDetailPanel = {
@detailPanel("consignee-help"){
  I can't find the right country or territory
} {
  <h2 class="heading-medium">Need some help?</h2>
  If you can't find the right destination country or territory you can get help by email at <a href="mailto:exportservicesteam@@digital.trade.gov.uk">exportservicesteam@@digital.trade.gov.uk</a>.
}
}

@standardPage("Finding the right licence", Some(heading(DestinationController.DESTINATION_QUESTION))){
  @errorSummary(form)
} {
  <form action="@controllers.licencefinder.routes.DestinationController.handleDestinationSubmit(sessionId)" method="POST">

    @views.html.helper.CSRF.formField

    @countrySelect(form(DestinationController.DESTINATION_COUNTRY), countries, Some("Type your destination country or territory"), Some("form-hint"), None, Some(destinationDetailPanel))

    @formRadioBooleanWithContent(form(DestinationController.MULTIPLE_COUNTRIES), multipleCountriesQuestion, legendContent = Some(Html("<p class=\"form-hint\">This could be a consignee.</p>"))) {
      @countrySelect(form(DestinationController.FIRST_CONSIGNEE_COUNTRY), countries, Some("Type the country or territory where the first consignee or other party will receive the items"), detailPanel = Some(consigneeDetailPanel))
    }(HtmlFormat.empty)

    <div class="govuk-form-group">
      <button type="submit" class="govuk-button">Continue</button>
    </div>
  </form>

  <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/destination-country.js")"></script>

}