@import com.google.inject.name.Named
@import util._

@this(standardPage: standardPage, @Named("permissionsFinderUrl") permissionsFinderUrl: String)
@()

@standardPage("Page not found", Some(heading("Page not found"))) {

}{

  <p class="govuk-body">
    If you typed the web address, check it is correct.
  </p>

  <p class="govuk-body">
    If you pasted the web address, check you copied the entire address.
  </p>

  <p class="govuk-body">
    <a href="@permissionsFinderUrl" class="govuk-link">Return to the start of this service</a>
  </p>

  <p class="govuk-body">
    If you have not been invited to private beta you will not be able to access this service. You should continue to use <a href="https://www.spire.trade.gov.uk/" class="govuk-link" rel="external" target="_blank">SPIRE<span class="govuk-visually-hidden"> (opens in a new tab)</span></a> instead.
  </p>

}
