@import util._
@import views.html.common.page._
@import views.html.common.form._

@this(standardPage: standardPage)
@(form: Form[_], sessionId: String)
@standardPage("Refining your licence results", Some(heading("Refining your licence results"))){
  @errorSummary(form, fieldOrder = scala.List("forRepair", "forExhibition", "beforeOrLess"))
} {

  <form action="@controllers.licencefinder.routes.QuestionsController.handleQuestionsSubmit(sessionId)" method="POST">

    @views.html.helper.CSRF.formField

    @formRadioBoolean(form("forRepair"), Html("Are you exporting goods for or after repair or replacement?"))

    @formRadioBoolean(form("forExhibition"), Html("Are you exporting goods for or after exhibition or demonstration?"))

    @formRadioBoolean(form("beforeOrLess"), Html("Were your goods manufactured before 1897, and worth less than £30,000?"))

    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>

  </form>

}