@import uk.gov.bis.lite.ogel.api.view.OgelFullView
@import controllers.licencefinder.RegisterToUseController.RegisterToUseForm
@import org.apache.commons.lang3.StringUtils
@import views.html.common.form.formCheckbox
@import util._
@import views.html.common.page._
@import models.view.QuestionView

@this(standardPage: standardPage)
@(form: Form[RegisterToUseForm], ogel: OgelFullView, questionViews: List[QuestionView], sessionId: String)

@standardPage("Register to use this Open General Export Licence", Some(heading("")), showBackLink = true){
@errorSummary(form)
}{

		<span class="govuk-caption-m">Register to use this OGEL:</span>
		<h2 class="govuk-heading-l">@ogel.getName</h2>

		@for(value <- ogel.getSummary.getCanList){
			<p class="govuk-caption-m">@value</p>
		}

		<br/>

		<p class="govuk-label">Before your register this OGEL:</p>
		<ol class="step-by-step">
			<li>
				<div class="step-by-step-title">Review your answers<a class="govuk-link">Hide</a></div>
				<div class="step-by-step-content">
					<table class="govuk-table">
						<tbody class="govuk-table__body">
							@for((questionView, index) <- questionViews.iterator.zipWithIndex) { <tr class="govuk-table__row">
								<th class="govuk-table__header" scope="row">@questionView.getQuestion</th>
								<td class="govuk-table__cell">@questionView.getAnswer</td>
								</tr>
								}
						</tbody>
					</table>
				</div>
			</li>
			@if(StringUtils.isNoneBlank(ogel.getLink)) {
				<li>
					<div class="step-by-step-title">Read the full text of the OGEL<a class="govuk-link">Hide</a></div>
					<div class="step-by-step-content">
						<a class="govuk-link" href="@ogel.getLink" rel="external" target="_blank">Open General Export Licence (@ogel.getName)<span class="govuk-visually-hidden"> (opens in a new tab)</span></a>
					</div>
				</li>
			}
			<li>
				<div class="step-by-step-title">Check what you must do before using this licence<a class="govuk-link">Hide</a></div>
				<div class="step-by-step-content">
					<ul class="govuk-list govuk-list--bullet">
						@for(value <- ogel.getSummary.getMustList){
							<li>@Html(value)</li>
						}
					</ul>
				</div>
			</li>
			<li>
				<div class="step-by-step-title">Check what this licence can't be used for<a class="govuk-link">Hide</a></div>
				<div class="step-by-step-content">
					<ul class="govuk-list govuk-list--bullet">
						@for(value <- ogel.getSummary.getCantList){
							<li>@Html(value)</li>
						}
					</ul>
				</div>
			</li>
		</ol>

		<div class="banner danger-banner">
			<span class="govuk-visually-hidden">Warning:</span>
			You should read the licence in full and confirm you can comply with the conditions before registering for an open general export licence (OGEL).
		</div>

		<form action="@controllers.licencefinder.routes.RegisterToUseController.handleRegisterToUseSubmit(sessionId)" method="POST">

			@views.html.helper.CSRF.formField

			<div class="govuk-form-group">
				@formCheckbox(form("confirmRead"), "I confirm that I have read the OGEL's conditions in full.")

				@formCheckbox(form("confirmComplies"), "I confirm that my export complies with the OGEL's conditions.")
			</div>

			<button type="submit" class="govuk-button govuk-button--start">Register</button>

		</form>



  <input type="hidden" id="sessionId" value="@sessionId"/>
  <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/register-to-use.js")"></script>
}
