@import uk.gov.bis.lite.ogel.api.view.OgelFullView
@import controllers.licencefinder.RegisterToUseController.RegisterToUseForm
@import org.apache.commons.lang3.StringUtils
@import views.html.common.form.formCheckbox
@import util._
@import views.html.common.page._
@import views.html.common.state._
@import views.html.ogel._
@import java.util.Map
@import models.view.QuestionView
@import utils.common.ViewUtil

@this(standardPage: standardPage)
@(form: Form[RegisterToUseForm], ogel: OgelFullView, physicalGoodControlCode: String, allowedToProceed: Boolean, questionViews: List[QuestionView], sessionId: String)

@pageHeading = @{
  "Register to use Open general export licence (" + ogel.getName + ")"
}

@standardPage(pageHeading, Some(heading(pageHeading))){
  @errorSummary(form)
}{

  <p>
    Please read the conditions below in full and confirm that the OGEL is appropriate for your export.
  </p>

  @if(StringUtils.isNoneBlank(ogel.getLink)) {
    <p class="bold-small">
      <a class="external" href="@ogel.getLink" rel="external" target="_blank">View the full text for this Open Licence<span class="visually-hidden"> (opens in a new tab)</span></a>
    </p>
  }

  <div class="form-group">
    <dl class="answer-summary">
      <table class="answer-summary-sub-table">
        <tbody>
          @for((questionView, index) <- questionViews.iterator.zipWithIndex) {
            <tr>
              <td>@questionView.getQuestion</td>
              <td>@questionView.getAnswer</td>
            </tr>
          }
        </tbody>
      </table>
    </dl>
  </div>

  <form action="@controllers.licencefinder.routes.RegisterToUseController.handleRegisterToUseSubmit(sessionId)" method="POST">

    <div class="form-group">
      @formCheckbox(form("confirmRead"), "I confirm that I have read the OGEL and its criteria in full.")

      @formCheckbox(form("confirmComplies"), "I confirm that my export complies with the OGEL criteria stated.")
    </div>

    <button type="submit" class="button">Continue</button>

  </form>

}