@import uk.gov.bis.lite.ogel.api.view.OgelFullView
@import controllers.licencefinder.RegisterToUseController.RegisterToUseForm
@import org.apache.commons.lang3.StringUtils
@import views.html.common.form.formCheckbox
@import util._
@import views.html.common.page._
@import models.view.QuestionView

@this(standardPage: standardPage)
@(form: Form[RegisterToUseForm], ogel: OgelFullView, questionViews: List[QuestionView], sessionId: String)

@standardPage("Register to use this Open General Export Licence", Some(heading("Register to use this Open General Export Licence"))){
  @errorSummary(form)
}{

  <p>You have selected: Open General Export Licence (@ogel.getName)</p>

  <div class="banner danger-banner">
    <span class="visually-hidden">Warning:</span>
    You should read the licence in full and confirm you can comply with the conditions before registering for an open general export licence (OGEL).
  </div>

  @if(StringUtils.isNoneBlank(ogel.getLink)) {
    <p class="bold-small">
      <a class="external" href="@ogel.getLink" rel="external" target="_blank">View the full text of the OGEL<span class="visually-hidden"> (opens in a new tab)</span></a>
    </p>
  }

  <dl class="govuk-check-your-answers form-group">
    @for((questionView, index) <- questionViews.iterator.zipWithIndex) {
      <div>
        <dt class="cya-question">@questionView.getQuestion</dt>
        <dd class="cya-answer">@questionView.getAnswer</dd>
      </div>
    }
  </dl>

  <form action="@controllers.licencefinder.routes.RegisterToUseController.handleRegisterToUseSubmit(sessionId)" method="POST">

    @views.html.helper.CSRF.formField

    <div class="form-group">
      @formCheckbox(form("confirmRead"), "I confirm that I have read the OGEL's conditions in full.")

      @formCheckbox(form("confirmComplies"), "I confirm that my export complies with the OGEL's conditions.")
    </div>

    <button type="submit" class="button">Continue</button>

  </form>

}