@import util._
@import views.html.common.page._
@import views.html.common.form._

@this(standardPage: standardPage)
@(sessionId: String)


@pageHeading = @{
  "Please wait whilst we process your OGEL registration. This may take a short while to complete..."
}

@standardPage(pageHeading, Some(heading(pageHeading))){

} {

  <form id="registrationInterval" action="@controllers.licencefinder.routes.RegisterAwaitController.handleRegistrationProcessed(sessionId)" method="POST">

    @views.html.helper.CSRF.formField

    <input type="hidden" name="sessionId" value="@sessionId">

    <button type="submit" class="button">Refresh</button>

  </form>

  <script type="text/javascript">
    $(function() {
      LITEOgelRegistration.RegistrationInterval.setupPage();
    });
  </script>
}
