@import util._
@import views.html.common.page._
@import views.html.common.form._
@import models.TradeType

@this(standardPage: standardPage)
@(form: Form[_], controlCode: String, sessionId: String)
@question = {Where are your items going?}

@standardPage(question.toString, Some(heading(question.toString))) {
  @errorSummary(form)
}{

  <div class="panel panel-border-wide">
    <p>
      You should use this service once for each type of item you are moving. Multiple item searches will be added later.
    </p>
  </div>

  <form action="@controllers.licencefinder.routes.TradeController.handleTradeSubmit(sessionId)" method="POST">

    @views.html.helper.CSRF.formField

    <fieldset>
      <legend class="visually-hidden">@question</legend>

      @fieldContainer(form("tradeType")) {

        <p>
          Finding results for moving goods described in control list entry <span class="bold">@controlCode</span>:
        </p>

        @formRadio(form("tradeType"), "<span class=\"bold\">From the UK to another country</span><br>This is known as an export",
          TradeType.EXPORT.toString, true)

        @formRadio(form("tradeType"), "<span class=\"bold\">Between non-UK countries</span><br>This is known as trafficking or brokering",
          TradeType.BROKERING.toString, true)

        @formRadio(form("tradeType"), "<span class=\"bold\">Through the UK, from one non-UK country to another</span><br>This is known as transhipment",
          TradeType.TRANSSHIPMENT.toString, true)
      }

    </fieldset>

    <button type="submit" class="button">Continue</button>

@**
    <br>
    <div class="panel panel-border-wide">
      <p>
        <a href="@org.pac4j.play.routes.LogoutController.logout()">Temp Sign out</a>
      </p>
    </div>
    **@

  </form>

}