@import util._
@import views.html.util._
@import views.html.common.page._
@import views.html.common.form._
@import play.twirl.api.HtmlFormat
@import views.html.util._

@import models.summary.LicenceInfo

@this(standardPage: standardPage)
@(licenceInfo: LicenceInfo)


@standardPage("OGEL Licence", Some(heading("OGEL Licence"))) {
  @Html("")
} {

  <div class="licence-header">
    <div class="licence-number">
      <div class="licence-crest">
        <img src="@controllers.routes.Assets.versioned("images/gov-crest.png")" srcset="@controllers.routes.Assets.versioned("images/gov-crest.png") 1x, @controllers.routes.Assets.versioned("images/gov-crest-2x.png") 2x" alt="">
      </div>
      <h1 class="heading-xlarge">
        <span class="font-weight-normal">Licence Number</span><br>
      @licenceInfo.getLicenceNumber
      </h1>
    </div>
  </div>
  <div class="form-group">
    <table class="invert-font-weights">
      <body>
        <tr>
          <th class="reg-summary-heading">Licence Type</th>
          <td>@licenceInfo.getLicenceType</td>
        </tr>
        <tr>
          <th class="reg-summary-heading">Registration Date</th>
          <td>@licenceInfo.getFormattedRegistrationDate</td>
        </tr>
      </body>
    </table>
  </div>

  <p>You may now export an unlimited quantity of goods, technology or services against this licence provided that:</p>

  <ol class="list list-number">
    <li>The terms and conditions of the licence can be met in full.</li>
    <li>
      Your licence reference number @licenceInfo.getLicenceNumber must be referenced on supporting documentation accompanying
      the goods and in the records you keep.</li>
  </ol>

  <h2 class="heading-medium">Exporter Details</h2>
  <p>@licenceInfo.getCompanyName <br>
    Company Registration: @licenceInfo.getCompanyNumber <br>
    @licenceInfo.getSiteName <br>
    @Html(HtmlFormat.escape(licenceInfo.getSiteAddress).toString().replace("\n", "<br/>"))
  </p>

  <p>
    <a href="@licenceInfo.getLicenceUrl" class="font-large not-visited" id="licence-terms-link">Terms and conditions of this licence</a>
  </p>

  <a href="javascript:window.print()">Print this page</a>
}
