@import util._
@import views.html.util._
@import views.html.common.page._
@import views.html.common.form._
@import play.twirl.api.HtmlFormat
@import views.html.util._
@import utils.HtmlUtil

@import models.summary.LicenceInfo

@this(standardPage: standardPage)
@(licenceInfo: LicenceInfo)


@standardPage("OGEL Licence", None, twoThirdsColumn = false) {
} {

  <link rel="stylesheet" type="text/css" media="print" href="@controllers.routes.Assets.versioned("stylesheets/view-ogel-print.css")">

  <div class="grid-row outcome-page-header">
    <div class="column-two-thirds">
      <div id="licence-header">
        <div id="licence-number">
          <div id="licence-crest">
            <img src="@controllers.routes.Assets.versioned("images/gov-crest.png")" srcset="@controllers.routes.Assets.versioned("images/gov-crest.png") 1x, @controllers.routes.Assets.versioned("images/gov-crest-2x.png") 2x" alt="">
          </div>
          <h1 class="heading-xlarge">
            <span class="font-weight-normal">Licence number</span><br>
          @licenceInfo.getLicenceNumber
          </h1>
        </div>
      </div>
    </div>
    <div class="column-one-third">
      <a href="" id="print" class="js-only">Print this page</a>
    </div>
  </div>

  @twoThirdsColumn {
    <dl class="govuk-check-your-answers form-group">
      <div>
        <dt class="cya-question no-wrap">Licence type</dt>
        <dd class="cya-answer">@licenceInfo.getLicenceType</dd>
      </div>
      <div>
        <dt class="cya-question no-wrap">Registration date</dt>
        <dd class="cya-answer">@licenceInfo.getFormattedRegistrationDate</dd>
      </div>
    </dl>

    <p>You may now export an unlimited quantity of goods, technology or services against this licence provided that:</p>

    <ol class="list list-number">
      <li>The terms and conditions of the licence can be met in full.</li>
      <li>
        Your licence reference number @licenceInfo.getLicenceNumber must be referenced on supporting documentation accompanying
        the goods and in the records you keep.</li>
    </ol>

    <h2 class="heading-medium">Exporter details</h2>
    <p>
      @licenceInfo.getCompanyName <br>
      Company registration: @licenceInfo.getCompanyNumber
    </p>
    @HtmlUtil.newlinesToParagraphs(licenceInfo.getSiteAddress)

    <p>
      <a href="@licenceInfo.getLicenceUrl" class="no-print not-visited" target="_blank" rel="external">View the full terms and conditions of this licence<span class="visually-hidden"> (opens in a new tab)</span></a>
      <span class="print-only">View the full terms and conditions of this licence at @licenceInfo.getLicenceUrl</span>
    </p>
  }
}
