@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import models.controlcode.AdditionalSpecificationsDisplay
@import controllers.controlcode.routes._

@(form: Form[_], display: AdditionalSpecificationsDisplay)
@standardPage(display.title, Some(Html(display.title)), twoThirdsColumn = false){
  @errorSummary(form)
} {

  <ul class="tree">

    @if(display.showGreatestAncestor) {
      <li>
        <span class="tree-dot"></span>
        <span class="tree-desc">
          <span class="tree-desc-wrapper">@Html(display.greatestAncestor.friendlyDescription)</span>
        </span>
        <span class="tree-code">@display.greatestAncestor.alias</span>
      </li>
    }

    @for(otherAncestorCode <- display.otherAncestors) {
      <li>
        <span class="tree-dot"></span>
        <span class="tree-desc">
          <span class="tree-desc-wrapper">@Html(otherAncestorCode.friendlyDescription)</span>
        </span>
        <span class="tree-code">@otherAncestorCode.alias</span>
      </li>
    }

    <li class="last">
      <span class="tree-dot"></span>
      <span class="tree-desc">
        <span class="tree-desc-wrapper">@Html(display.friendlyDescription)</span>
      </span>
      <span class="tree-code">@display.controlCodeAlias</span>
    </li>

  </ul>

  @twoThirdsColumn {

    <h2 class="heading-medium">
      Additional information about this item
    </h2>

    <div class="stored-content-container">
    @Html(display.clauseText)
    </div>

    @if(!display.specifications.isEmpty) {
      <ul class="list list-bullet">
      @for(spec <- display.specifications) {
        <li>@Html(spec)</li>
      }
      </ul>
    }

    <form action="@AdditionalSpecificationsController.handleSubmit()" method="POST">

      @contextFormParams()

      @formRadioBoolean(form("stillDescribesItems"), Html("Does this still describe your items?"), "Yes", "No")

      <div class="form-group">
        <button type="submit" class="button">Continue</button>
      </div>

    </form>
  }

}