@import util._
@import views.html.common.page._
@import views.html.common.form._
@import components.services.controlcode.frontend.FrontendServiceResult
@import controllers.controlcode.routes.ConfirmationController

@(form: Form[_], frontendServiceResult: FrontendServiceResult)
@standardPage(frontendServiceResult.controlCodeData.title, Some(Html(frontendServiceResult.controlCodeData.title))){
  @errorSummary(form)
}{

  <p>
    The full description of <strong class="bold-small">@frontendServiceResult.controlCodeData.controlCode</strong> in the UK
    Export Control List includes more detailed specifications, definitions and technical notes.
    If you are not sure whether <strong class="bold-small">@frontendServiceResult.controlCodeData.controlCode</strong>
    describes your items, you should read the detailed description.
  </p>

  <div class="form-group">

    @detailPanel("detailed-description") {
      Read the detailed description of <strong class="bold-small">@frontendServiceResult.controlCodeData.controlCode</strong>
    }{
      @Html(frontendServiceResult.controlCodeData.technicalNotes)
    }

  </div>

  <form action="@ConfirmationController.handleSubmit()" method="POST">

    <div class="form-group">
      <button type="submit" class="button" id="goodsDescribedByRating" name="goodsDescribedByRating" value="true">
        I believe that <strong class="bold-small">@frontendServiceResult.controlCodeData.controlCode</strong> describes my items
      </button>
      <label class="form-label below-button-label" for="goodsDescribedByRating">
        <div class="form-hint"><span class="font-xsmall">You can still change your mind later</span></div>
      </label>
    </div>

  </form>
  
}