@import models.controlcode.ControlCodeSummaryDisplay
@import util._
@import views.html.common.form._
@import views.html.common.page._
@import views.html.common.state._

@(form: Form[_], display: ControlCodeSummaryDisplay)
@standardPage(display.title, Some(Html(display.title)), twoThirdsColumn = false){
  @errorSummary(form)
}{

  <ul class="tree">

    @if(display.showGreatestAncestor) {
      <li>
        <span class="tree-dot"></span>
        <span class="tree-desc">
          <span class="tree-desc-wrapper">@Html(display.greatestAncestor.friendlyDescription)</span>
        </span>
        <span class="tree-code">@display.greatestAncestor.alias</span>
      </li>
    }

    @for(otherAncestorCode <- display.otherAncestors) {
      <li>
        <span class="tree-dot"></span>
        <span class="tree-desc">
          <span class="tree-desc-wrapper">@Html(otherAncestorCode.friendlyDescription)</span>
        </span>
        <span class="tree-code">@otherAncestorCode.alias</span>
      </li>
    }

    <li class="last">
      <span class="tree-dot"></span>
      <span class="tree-desc">
        <span class="tree-desc-wrapper">@Html(display.friendlyDescription)</span>
      </span>
      <span class="tree-code">@display.controlCodeAlias</span>
    </li>

  </ul>
  @twoThirdsColumn {

    <form action="@display.formAction" method="POST">

      @contextFormParams()

      @if(display.decontrolsExist || display.additionalSpecificationsExist || display.technicalNotesExist) {

        @formRadioBooleanWithContent(form("couldDescribeItems"), Html(display.couldDescribeItemsLabel), "Yes", "No")(HtmlFormat.empty){
          <p>
            If you are not sure whether @display.controlCodeAlias describes your item, you can read more details about it before you decide. The extra information for this item is:
          </p>

          <ul class="list list-bullet text">
            @if(display.additionalSpecificationsExist){ <li>a fuller description of this item, or the items related to it</li> }
            @if(display.decontrolsExist){ <li>items that fit this description but which are actually controlled elsewhere, or not at all</li> }
            @if(display.technicalNotesExist){ <li>technical notes that give examples or define terms</li> }
          </ul>

          <p>
            If you want to read this extra information before deciding, answer <strong class="bold-small">Yes</strong> to this question. You can change your answer later if you decide for sure this item does not apply.
          </p>
        }

      } else {

        @formRadioBoolean(form("couldDescribeItems"), Html(display.couldDescribeItemsLabel), "Yes", "No")

      }

      <div class="form-group">
        <button type="submit" class="button">Continue</button>
      </div>

    </form>
  }

}