@import models.controlcode.ControlCodeSummaryDisplay
@import util._
@import views.html.common.form._
@import views.html.common.page._
@import views.html.common.state._
@import controllers.controlcode.routes._
@import play.twirl.api.HtmlFormat

@(form: Form[_], display: ControlCodeSummaryDisplay)
@standardPage(display.title, Some(heading(display.title)), twoThirdsColumn = false){
  @errorSummary(form)
}{

  <ul class="tree">

    @if(display.showGreatestAncestor) {
      <li>
        <span class="tree-dot"></span>
        <span class="tree-desc">
          <span class="tree-desc-wrapper">@Html(display.greatestAncestor.getFriendlyDescription)</span>
        </span>
        <span class="tree-code">@display.greatestAncestor.getAlias</span>
      </li>
    }

    @for(otherAncestorCode <- display.otherAncestors) {
      <li>
        <span class="tree-dot"></span>
        <span class="tree-desc">
          <span class="tree-desc-wrapper">@Html(otherAncestorCode.getFriendlyDescription)</span>
        </span>
        <span class="tree-code">@otherAncestorCode.getAlias</span>
      </li>
    }

    <li class="last">
      <span class="tree-dot" aria-hidden="true"></span>
      <span class="tree-desc">
        <span class="tree-desc-wrapper">@Html(display.friendlyDescription)</span>
      </span>
      <span class="tree-code">@display.controlCodeAlias</span>
    </li>

  </ul>
  @twoThirdsColumn {

    <form action="@ControlCodeSummaryController.handleSubmit()" method="POST">

      @contextFormParams()

      @if(display.showAdditionalSpecsPanel) {

        @formRadioBooleanWithContent(form("couldDescribeItems"), Html(display.couldDescribeItemsLabel), "Yes", "No")(HtmlFormat.empty){

          <p>
            If you're certain this doesn't describe your item, click Continue now.
          </p>

          <p>
            If you want to read a fuller description of this item before deciding whether it applies to your export, change your answer to <strong class="bold-small">Yes</strong> before continuing. You can confirm on the next screen if you decide for sure this item does not apply.
          </p>

        }

      } else {

        @formRadioBoolean(form("couldDescribeItems"), Html(display.couldDescribeItemsLabel), "Yes", "No")

      }

      @if(!display.showAdditionalSpecsPanel && display.showTechNotesQuestion) {

        <div class="js-hidden" id="showTechNotes-wrapper">
          <h2 class="heading-medium">
            Do you want to read technical information about this item?
          </h2>

          <p>
            These notes can include measurements and definitions of technical terms.
          </p>

          @formRadioBoolean(form("showTechNotes"), Html("Do you want to read technical information about this item?"), "Yes", "No")
        </div>

      }

      <div class="form-group">
        <button type="submit" class="button">Continue</button>
      </div>

    </form>

    <script type="application/javascript">
      $(document).ready(function(){LITEPermissionsFinder.ControlCodeSummary.setupPage()})
    </script>
  }

}