@import util._
@import views.html.common.form._
@import views.html.common.page._
@import views.html.common.state._
@import controllers.controlcode.routes.ControlCodeController
@import models.controlcode.ControlCodeDisplay

@(form: Form[_], display: ControlCodeDisplay)
@standardPage(display.title, Some(Html(display.title))){
  @errorSummary(form)
}{

  <table class="tree">

    @if(display.showGreatestAncestor) {
      <tr class="tree-row">
        <td class="tree-line-first">
          <div class="tree-wrapper-first">
            <div class="tree-circle-first"></div>
          </div>
        </td>
        <td class="tree-desc">
          <span class="font-small">@Html(display.greatestAncestor.friendlyDescription)</span>
        </td>
        <td class="tree-code">
          <div class="tree-code-wrapper">
            <span class="font-small">@display.greatestAncestor.alias</span>
          </div>
        </td>
      </tr>
    }

    @for(otherAncestorCode <- display.otherAncestors){
      <tr class="tree-row">
        <td class="tree-line" >
          <div class="tree-circle"></div>
        </td>
        <td class="tree-desc">
          <span class="font-small">@Html(otherAncestorCode.friendlyDescription)</span>
        </td>
        <td class="tree-code">
          <div class="tree-code-wrapper">
            <span class="font-small">@otherAncestorCode.alias</span>
          </div>
        </td>
      </tr>
    }

    <tr class="tree-row-last">
      <td class="tree-line-last">
        <div class="tree-wrapper-last">
          <span class="bold-medium">&#10003;<span class="font-small"></span></span>
        </div>
      </td>
      <td class="tree-desc-last">
        <span class="font-small">@Html(display.friendlyDescription)</span>
      </td>
      <td class="tree-code-last">
        <div class="tree-code-wrapper-last">
          <span class="font-small">@display.controlCodeAlias</span>
        </div>
      </td>
    </tr>

  </table>

  <form action="@ControlCodeController.handleSubmit()" method="POST">

    @contextFormParams()

    @formRadioBoolean(form("couldDescribeItems"), Html("Could this describe your items?"), "Yes", "No")

    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>

    @detailPanel("im-not-sure")(Html("I'm not sure")) {
      <p>
        If your item is not described above you can:
      </p>

      <ul class="list list-bullet text">
        <li><button class="link underlined" name="action" value="backToSearchResults">return to your search results</button> and choose again</li>
        <li><button class="link underlined" name="action" value="backToSearch">edit your item description</button> to get a different set of results</li>
      </ul>

      <p>
        If you have been unable to identify your items using this service you can get help from the government's Export Control Organisation, who will be able to help you find the correct licence.
      </p>

      @helpInfoPanel()

    }

  </form>

}