@import components.services.controlcode.frontend.FrontendServiceResult
@import util._
@import views.html.common.form._
@import views.html.common.page._
@import controllers.controlcode.routes.ControlCodeController

@(form: Form[_], frontendServiceResult: FrontendServiceResult)
@standardPage(frontendServiceResult.controlCodeData.title, Some(Html(frontendServiceResult.controlCodeData.title)), backLinkText = "Possible matches"){
  @errorSummary(form)
}{

  <table class="tree">

    @if(frontendServiceResult.getGreatestAncestor.isDefined) {
      <tr class="tree-row">
        <td class="tree-line-first">
          <div class="tree-wrapper-first">
            <div class="tree-circle-first"></div>
          </div>
        </td>
        <td class="tree-desc">
          <span class="font-small">@Html(frontendServiceResult.getGreatestAncestor.get.friendlyDescription)</span>
        </td>
        <td class="tree-code">
          <div class="tree-code-wrapper">
            <span class="font-small">@frontendServiceResult.getGreatestAncestor.get.controlCode</span>
          </div>
        </td>
      </tr>
    }

    @for(otherAncestorCode <- frontendServiceResult.getOtherAncestors){
      <tr class="tree-row">
        <td class="tree-line" >
          <div class="tree-circle"></div>
        </td>
        <td class="tree-desc">
          <span class="font-small">@Html(otherAncestorCode.friendlyDescription)</span>
        </td>
        <td class="tree-code">
          <div class="tree-code-wrapper">
            <span class="font-small">@otherAncestorCode.controlCode</span>
          </div>
        </td>
      </tr>
    }

    <tr class="tree-row-last">
      <td class="tree-line-last">
        <div class="tree-wrapper-last">
          <span class="bold-medium">&#10003;<span class="font-small"></span></span>
        </div>
      </td>
      <td class="tree-desc-last">
        <span class="font-small">@Html(frontendServiceResult.controlCodeData.friendlyDescription)</span>
      </td>
      <td class="tree-code-last">
        <div class="tree-code-wrapper-last">
          <span class="font-small">@frontendServiceResult.controlCodeData.controlCode</span>
        </div>
      </td>
    </tr>

  </table>

  <form action="@ControlCodeController.handleSubmit()" method="POST">

    @formRadioBoolean(form("couldDescribeItems"), Html("Could this describe your items?"), "Yes", "No")

    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>

  </form>

}