@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import models.controlcode.DecontrolsDisplay
@import controllers.controlcode.routes._

@(form: Form[_], display: DecontrolsDisplay)
@standardPage("Decontrols", Some(Html("Decontrols")), twoThirdsColumn = false){
  @errorSummary(form)
} {

  @twoThirdsColumn {
    <h2 class="heading-medium">Check whether any of the following describe your export:</h2>

    <ul class="list list-bullet">
    @for(decontrol <- display.decontrols) {
        <li>@Html(decontrol)</li>
    }
    </ul>

    <form action="@DecontrolsController.handleSubmit()" method="POST">

        @contextFormParams()

        @formRadioBoolean(form("decontrolsDescribeItem"), Html("Is your item listed above?"), "Yes", "No")

        <div class="form-group">
            <button type="submit" class="button">Save and continue</button>
        </div>

    </form>
  }

}