@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import models.controlcode.DecontrolsDisplay
@import controllers.controlcode.routes._

@(form: Form[_], display: DecontrolsDisplay)
@standardPage("Finding the right licence", Some(heading("Check if your item is listed below:"))){
  @errorSummary(form)
} {

  <ul class="list list-bullet">
  @for(decontrol <- display.decontrols) {
      <li>@Html(decontrol)</li>
  }
  </ul>

  <form action="@DecontrolsController.handleSubmit()" method="POST">

      @contextFormParams()

      @formRadioBoolean(form("decontrolsDescribeItem"), Html("Is your item listed above?"), "Yes", "No")

      <div class="form-group">
          <button type="submit" class="button">Continue</button>
      </div>

  </form>

}