@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import models.controlcode.NotApplicableDisplay
@import controllers.controlcode.routes._

@(display: NotApplicableDisplay)
@standardPage("Description not applicable", Some(Html("Description not applicable"))){
  @errorSummary(display.form)
}{
  <form action="@NotApplicableController.handleSubmit()" method="POST">

    @contextFormParams()

    <p>
      As you have indicated that @display.controlCodeAlias is not applicable to your export, you can now:
    </p>

    <ul class="list list-bullet text">
    @for(button <- display.buttons) {
      <li>
        <button class="link underlined" name="action" value="@button.value" data-skip-validation>@button.content</button>
      </li>
    }
    </ul>

    @if(display.showExtendedContent) {
      <h2 class="heading-medium">
        Need some help?
      </h2>
      <p>
        You can contact the Export Control Organisation to discuss your export, by telephone on 020 7215 4594, or by email at <a href="mailto:eco.help@@beis.gsi.gov.uk">eco.help@@beis.gsi.gov.uk</a>.
      </p>
      <h2 class="heading-medium">
        End-use controls
      </h2>
      <p>
        You cannot export your item without a licence if either of the following is true:
      </p>
      <ul class="list list-bullet text">
        <li>
          you know or suspect that your item will be used in a weapons of mass destruction (WMD) programme or delivery system
        </li>
        <li>
          you are exporting dual-use items that do not usually need an export licence, but you know or suspect that they might be incorporated into military equipment for use in an embargoed country
        </li>
      </ul>
      <p>
        You must contact the ECO to discuss your export in each of these cases.
      </p>
      <p>
        Read more about <a href="https://www.gov.uk/browse/business/imports-exports" class="external" rel="external" target="_blank">WMD and military end-use controls</a>.
      </p>
      <h2 class="heading-medium">
        Sanctions and embargoes
      </h2>
      <p>
        You should also check that no sanctions or embargoes apply to your export destination. See a <a href="https://www.gov.uk/browse/business/imports-exports" class="external" rel="external" target="_blank">list of embargoed countries</a>.
      </p>
    } else {
      <h2 class="heading-medium">
        Need some help?
      </h2>
      <p>
        You can contact the Export Control Organisation to discuss your export, by telephone on 020 7215 4594, or by email at <a href="mailto:eco.help@@beis.gsi.gov.uk">eco.help@@beis.gsi.gov.uk</a>.
      </p>
    }

  </form>

}