@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import models.controlcode.NotApplicableDisplay
@import controllers.controlcode.routes._

@(form: Form[_], display: NotApplicableDisplay)
@standardPage("Description not applicable", Some(heading("Description not applicable"))){
  @errorSummary(form)
}{
  <form action="@NotApplicableController.handleSubmit()" method="POST">

    @contextFormParams()

    <p>
      As you have indicated that @display.controlCodeAlias is not applicable to your export, you can now:
    </p>

    <ul class="list list-bullet text">
    @for(button <- display.buttons) {
      <li>
        <button class="link underlined" role="link" name="action" value="@button.value" data-skip-validation>@button.content</button>
      </li>
    }
    </ul>

    <h2 class="heading-medium">
      Need some help?
    </h2>
    <p>
      You can contact the Export Control Organisation to discuss your export, by telephone on 020 7215 4594, or by email at <a href="mailto:eco.help@@trade.gsi.gov.uk">eco.help@@trade.gsi.gov.uk</a>.
    </p>

  </form>

}