@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.controlcode.routes.SearchAgainController

@(controlCode: String)
@standardPage(controlCode + " is not applicable to your items", Some(Html(controlCode + " is not applicable to your items"))){ }{

  <p>
    You should select another item type from your search results, or edit your description to get a new set of results:
  </p>

  <form action="@SearchAgainController.handleSubmit()" method="POST">

    @contextFormParams()

    <ul class="list list-bullet text">
      <li><button class="link underlined" name="action" value="backToSearchResults">return to your search results</button> and choose again</li>
      <li><button class="link underlined" name="action" value="backToSearch">edit your item description</button> to get a different set of results</li>
    </ul>

  </form>

  @helpInfoPanel(showParagraph = true)
  
}