@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import components.services.controlcode.frontend.FrontendServiceResult
@import controllers.controlcode.routes.TechnicalNotesController

@(form: Form[_], frontendServiceResult: FrontendServiceResult)
@standardPage(frontendServiceResult.controlCodeData.title, Some(Html(frontendServiceResult.controlCodeData.title))){
  @errorSummary(form)
} {

  <table class="tree">

    <tr class="tree-row-last">
      <td class="tree-line-last">
        <div class="tree-wrapper-last">
          <span class="bold-medium">&#10003;<span class="font-small"></span></span>
        </div>
      </td>
      <td class="tree-desc-last">
        <span class="font-small">@Html(frontendServiceResult.controlCodeData.friendlyDescription)</span>
      </td>
      <td class="tree-code-last">
        <div class="tree-code-wrapper-last">
          <span class="font-small">@frontendServiceResult.controlCodeData.controlCode</span>
        </div>
      </td>
    </tr>

  </table>

  <h2 class="heading-small">The following technical notes can help you choose the right classification:</h2>

  @Html(frontendServiceResult.controlCodeData.technicalNotes)

  <form action="@TechnicalNotesController.handleSubmit()" method="POST">

    @contextFormParams()

    @formRadioBoolean(form("stillDescribesItems"), Html("Does this still describe your items?"), "Yes", "No")

    <div class="form-group">
      <button type="submit" class="button">Save and continue</button>
    </div>

  </form>

}