@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import models.controlcode.TechnicalNotesDisplay
@import controllers.controlcode.routes._

@(form: Form[_], display: TechnicalNotesDisplay)
@standardPage(display.title, Some(heading(display.title)), twoThirdsColumn = false){
  @errorSummary(form)
} {

  <ul class="tree">

    @if(display.showGreatestAncestor) {
      <li>
        <span class="tree-dot"></span>
        <span class="tree-desc">
          <span class="tree-desc-wrapper">@Html(display.greatestAncestor.getFriendlyDescription)</span>
        </span>
        <span class="tree-code">@display.greatestAncestor.getAlias</span>
      </li>
    }

    @for(otherAncestorCode <- display.otherAncestors) {
      <li>
        <span class="tree-dot"></span>
        <span class="tree-desc">
          <span class="tree-desc-wrapper">@Html(otherAncestorCode.getFriendlyDescription)</span>
        </span>
        <span class="tree-code">@otherAncestorCode.getAlias</span>
      </li>
    }

    <li class="last">
      <span class="tree-dot" aria-hidden="true"></span>
      <span class="tree-desc">
        <span class="tree-desc-wrapper">@Html(display.friendlyDescription)</span>
      </span>
      <span class="tree-code">@display.controlCodeAlias</span>
    </li>

  </ul>
  @twoThirdsColumn {
    <h2 class="heading-small">The following technical notes can help you choose the right classification:</h2>

    <div class="stored-content-container">
    @Html(display.technicalNotes)
    </div>

    <form action="@TechnicalNotesController.handleSubmit()" method="POST">

      @contextFormParams()

      @formRadioBoolean(form("stillDescribesItems"), Html(display.questionHeading), "Yes", "No")

      <div class="form-group">
        <button type="submit" class="button">Continue</button>
      </div>

    </form>
  }

}