@import controllers.software.routes.DualUseSoftwareCategoriesController
@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import models.software.SoftwareCategory

@(form: Form[_])
@standardPage("What is your software for?", Some(Html("What is your software for?"))){
  @errorSummary(form)
}{

  <form action="@DualUseSoftwareCategoriesController.handleSubmit" method="POST">
    
    @contextFormParams()

    @*TODO Add content *@

    @detailPanel("Dummy"){Dummy} {
      <p>
        CONTENT WILL GO HERE
      </p>
      <button type="submit" id="continue" class="button next" name="dualUseSoftwareCategory" value="@SoftwareCategory.DUMMY">Continue</button>
    }

    @detailPanel("Radioactive"){Radioactive} {
      <p>
        CONTENT WILL GO HERE
      </p>
      <button type="submit" id="continue" class="button next" name="dualUseSoftwareCategory" value="@SoftwareCategory.RADIOACTIVE">Continue</button>
    }
    
  </form>
  
}