.tree {
  display: table;
  width: 100%;

  li {
    display: table-row;

    .tree-dot,
    .tree-code,
    .tree-desc {
      display: table-cell;
    }

    .tree-dot {
      width: 44px;
      position: relative;
      overflow: hidden;

      &::before {
        width: 20px;
        height: 20px;
        content: '';
        background: #000;
        display: block;
        border-radius: 50%;
        margin: 0 auto;
      }

      &::after {
        display: block;
        width: 2px;
        height: 1000px;
        content: '';
        position: absolute;
        background: #000;
        left: 21px;
      }

      @include ie-lte(8) {
        background: url(../images/tree-black-dot-line.png);
      }
    }

    .tree-desc {
      padding-bottom: 30px;
      vertical-align: top;

      .tree-desc-wrapper {
        display: block;
        border-right: 2px dotted #000;
        padding: 0 20px 0 15px;
      }
    }

    .tree-code {
      padding: 2px 0 30px 20px;
      height: 100%;
      vertical-align: middle;
    }

    &.last {

      .tree-dot {
        background: #000;
        vertical-align: middle;

        &::before {
          content: '\2713';
          background: transparent;
          color: white;
          height: 100%;
          font-size: 25px;
        }

        @include ie-lte(8) {
          background-image: url(../images/small-white-tick.png);
          background-repeat: no-repeat;
          background-position: center center;
        }
      }

      .tree-desc {
        border: 1px solid #000;
        border-left: none;
        border-right: none;
        vertical-align: middle;
        padding: 0;

        .tree-desc-wrapper {
          padding-top: 18px;
          padding-bottom: 15px;
        }
      }

      .tree-code {
        border: 1px solid #000;
        border-left: none;
        padding: 18px 15px 15px 15px;
      }
    }
  }
}