.heading-banner {
  @include bold-24();

  margin-top: em(25, 20);
  margin-bottom: em(10, 20);

  @include media(tablet) {
    margin-top: em(45, 24);
    margin-bottom: em(20, 24);
  }
}

.heading-banner .banner-content {
  padding: em(10, 20);

  @include media(tablet) {
    padding: em(15, 24);
  }

  background-color: $grey-3
}