.nav-container-end {
	clear: both;
}

.back-link-container {
	float: left;
}

.resume-code-container {
	float: right;

	.resume-code {
		margin-top: 14px;

		p {
			@include govuk-font($size: 16);
			@include govuk-text-colour;
		}
	}
}
