.nav-container {
	position: relative;
}

.resume-code-container {
	position: absolute;
	top: 14px;
	right: 0;

	.resume-code {
		p {
			@include govuk-font($size: 16);
			@include govuk-text-colour;
			margin: 0;
		}
	}
}
