.search-results {
  td {
    padding: 0;

    button {
      display: block;
      width: 100%;
      padding: 1em 0 0.9em 0;
    }
  }
}

.hs-code-wrapper {
  margin-bottom: 30px;
}

.search-result-actions {
  padding-top: 40px;
}

.show-more-results-button {
  margin-right: 20px;
}

.no-matched-result-link {
  margin-top: 0.5em;
}

p.pre-search-results {
  margin-bottom: 5px;
}