#licence-header {
  margin-bottom: $gutter;
  display: table;

  #licence-number {
    display: table-row;

    #licence-crest {
      display: table-cell;
      vertical-align: middle;
    }

    h1 {
      display: table-cell;
      padding-left: 40px;
      vertical-align: middle;
    }
  }

  @media screen and (max-width: 900px) {
    margin-left: auto;
    margin-right: auto;

    #licence-number {
      display: block;

      #licence-crest {
        display: block;
        text-align: center;
      }

      h1 {
        padding: 0;
        display: block;
        text-align: center;
      }
    }
  }
}

#print-letter {
  float: right;

  @include media(mobile) {
    float: none;
  }
}