ol.circle-step-list {
  counter-reset: circle-step-list-counter;

  li {
    position: relative;
    padding-left: 55px;
    padding-top: 8px;
    margin-bottom: $gutter-two-thirds;

    &:before {
      display: inline-block;
      @include border-radius(50%);

      content:counter(circle-step-list-counter);
      counter-increment:circle-step-list-counter;

      position: absolute;
      top: 0;
      left: 0;

      background: $black;
      color: $white;

      font-family: $toolkit-font-stack-tabular;
      font-size: 19px;
      width: 38px;
      height: 38px;
      line-height: 41px;
      font-weight: bold;
      text-align: center;
    }
  }
}