@import "mixins";

.control-code-breadcrumbs {
  @include core-16;
  width: 100%;
  margin-bottom: $gutter;
  list-style-type: none;
  padding: 0;

  &>li {
    position: relative;
    padding-top: 4px;
    padding-right: 4.5em;
    padding-bottom: $gutter-two-thirds;
    padding-left: $gutter-two-thirds;
    margin-left: 11px;
    border-left: 2px solid $border-colour;

    @media print {
      border-left-color: $black;
    }

    &:last-child:not(.detail-box) {
      border-left: none;
    }

    &::before {
      position: absolute;
      top: 0;
      left: -13px;
      width: 24px;
      height: 24px;
      content: '';
      border: 2px solid $border-colour;
      background: $white;
      display: block;
      border-radius: 50%;
      box-sizing: border-box;

      @media print {
        border-color: $black;
        border-width: 12px;
      }
    }

    @include media(mobile) {
      padding-top: 6px;
    }

    a.breadcrumb-change-link {
      position: absolute;
      top: 4px;
      right: $gutter-one-third;

      @include media(mobile) {
        top: 6px;
      }

      @media print {
        display: none;
      }
    }

    &.detail-box::before {
      content: none;
    }

    .detail-box {
      margin-top: $gutter-one-third;
      width: calc(100% + 4.5em);
    }
  }

  .detail-box {
    border: 2px solid $border-colour;
    margin-left: 0;
    padding: 0;
    box-sizing: border-box;

    @media print {
      border-color: $black;
    }

    a.breadcrumb-change-link {
      top: $gutter-one-third;
      right: $gutter-one-third;
    }

    .detail-box-content {
      @include ul-has-bullets;
      padding: $gutter-one-third;

      &.has-change-link {
        padding-right: 4.5em;
      }

      .outcome-detail-box-heading {
        @include core-24;
        margin-top: 0;
        margin-bottom: 0.5em;
      }

      ul:last-child {
        margin-bottom: 0;
      }
    }

    .detail-box-secondary-content {
      background: $grey-4;
      padding: $gutter-one-third;
      border-top: 1px solid $border-colour;

      @media print {
        border-top-color: $black;
        background: $white;
      }

      &:only-child {
        border-top: none;
      }

      .heading-small {
        margin-top: 0;
      }

      .breadcrumb-notes {
        margin: 0 (-$gutter-one-third) (-$gutter-one-third) (-$gutter-one-third);
        list-style-type: none;
        padding: 0;

        li {
          border-bottom: 1px solid $border-colour;
          padding: $gutter-half $gutter-one-third;

          @media print {
            border-bottom-color: $black;
          }

          &:first-child {
            padding-top: 0;
          }

          &:last-child {
            border-bottom: none;
            padding-bottom: $gutter-one-third;
          }
        }
      }
    }
  }
}

@include media(desktop) {
  .wide-breadcrumbs {
    @include core-19;

    & > li {
      margin-left: 17px;
      padding-top: 8px;
      padding-bottom: $gutter;
      padding-left: $gutter;
      padding-right: 5em;

      &::before {
        width: 36px;
        height: 36px;
        left: -19px;
      }

      a.breadcrumb-change-link {
        top: 8px;
        right: $gutter-half;
      }

      &.detail-box {
        a.breadcrumb-change-link {
          top: 17px;
          right: $gutter-half;
        }

        .detail-box-content {
          padding: $gutter-half;
        }
      }
    }
  }
}