.dit-logo {
  border-left: 2px solid $department-for-international-trade;
  font-family: $helvetica-regular;
  padding-left: 8px;
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 30px;

  img {
    display: block;
    width: 38px;
    height: 40px;
  }

  &>span {
    position: relative;
    top: 4px;
    white-space: nowrap;
  }
}