@mixin ul-has-bullets() {
  ul {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-type: disc;
    padding-left: 20px;

    li {
      margin-bottom: 5px;
    }

    ul {
      list-style-type: circle;

      ul {
        list-style-type: square;
      }
    }
  }
}

@mixin styled-blockquote() {
  blockquote {
    margin: 0 0 0 -30px;
    padding: 0 0 0 20px;

    p {
      padding-left: 30px;

      &:before {
        content: "\201C";
        float: left;
        clear: both;
        margin-left: -15px;
      }

      &:last-child:after {
        content: "\201D";
      }
    }
  }
}