.heading-large .heading-secondary {
  @include core-19;
  padding-top: 0;
}

.outcome-page-header {
  h1.heading-xlarge {
    margin: 0;
  }

  margin-top: 45px;
  margin-bottom: 30px;
}

.outcome-sharing-options {
  li {
    display: inline-block;
    margin-right: 0.5em;

    &:last-child {
      margin-right: 0
    }
  }

  @include media(tablet) {
    float: right;
    margin-top: 25px;
  }
}

label {

  ul {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-type: disc;
    padding-left: 20px;

    li {
      margin-bottom: 5px;
    }
  }

  &>ul>li>ul {
    list-style-type: circle;
  }

  &>ul>li>ul>li>ul {
    list-style-type: square;
  }
}