@import "mixins";

.heading-large .heading-secondary {
  @include core-19;
  padding-top: 0;
}

.modal-heading {
  margin-top: 0;
}

.outcome-page-header {
  h1.heading-xlarge {
    margin: 0;
  }

  margin-top: 45px;
  margin-bottom: 30px;
}

.outcome-sharing-options {
  li {
    display: inline-block;
    margin-right: 0.5em;

    &:last-child {
      margin-right: 0
    }
  }

  @include media(tablet) {
    float: right;
    margin-top: 25px;
  }
}


label {
  @include ul-has-bullets;
}

.panel {
  @include ul-has-bullets;
}

a[data-definition-id],
a[data-control-entry-id] {
  &:link,
  &:visited {
    color: $link-colour;
    text-decoration: none;
    display: inline-block;
    line-height: 0.7em;
    border-bottom: 1.2px dotted $link-colour;
    cursor: help;
  }

  &:hover {
    color: $link-hover-colour;
    border-bottom-color: $link-hover-colour;
  }

  &:active {
    color: $link-active-colour;
    border-bottom-color: $link-active-colour;
  }
}

.notice {
  margin-top: em(5, 16);
  margin-bottom: em(20, 16);

  @include media(tablet) {
    margin-top: em(7);
    margin-bottom: em(30);
  }

  .icon {
    top: 0;
    margin-top: -7px;
  }
}

.media-desktop,
.media-tablet,
.media-mobile {
  display: none;
}

.media-desktop {
  @include media(desktop) {
    display: unset;
  }
}

.media-tablet {
  @include media(tablet) {
    display: unset;
  }
}

.media-mobile {
  @include media(mobile) {
    display: unset;
  }
}
