@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import models.common.Country
@import controllers.importcontent.ImportWhereController

@(form: Form[_], countries: List[Country])
@standardPage("Finding the right licence", Some(heading("Where are you importing from?"))){
  @errorSummary(form)
} {

  <form action="@controllers.importcontent.routes.ImportWhereController.handleSubmit()" method="POST">

    @contextFormParams()

    @countrySelect(form(ImportWhereController.COUNTRY_FIELD_NAME), countries, Some("Type the country or territory the import will come from"), Some("form-hint"), None, None)

    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>
  </form>

  <script type="text/javascript">
    $(document).ready(function(){LITEPermissionsFinder.ImportCountry.setupPage()});
  </script>
}