// govuk-elements imports
// Settings (variables)
//@import "../../../subprojects/lite-play-common/app/assets/stylesheets/settings/_colours-palette";              // Colour variables
//@import "../../../subprojects/lite-play-common/app/assets/stylesheets/font_stack";                             // Font family variables
//@import "../../../subprojects/lite-play-common/app/assets/stylesheets/settings/_measurements";                           // Widths and gutter variables

// Mixins
//@import "../../../subprojects/lite-play-common/app/assets/stylesheets/css3";                                   // Vendor-prefixed CSS3 feature mixins
//@import "../../../subprojects/lite-play-common/app/assets/stylesheets/conditionals";                           // Media query mixin
//@import "../../../subprojects/lite-play-common/app/assets/stylesheets/typography";                             // Core bold and heading mixins, also external links

// GOV.UK elements
//@import "../../../subprojects/lite-play-common/app/assets/stylesheets/helpers";
@import "../../../subprojects/lite-play-common/app/assets/stylesheets/all";                       // Helper functions and classes

// Components
@import "components/button";
@import "components/or-label";
@import "components/circle-step-list";
@import "components/banners";
/*@import "components/logos";
@import "components/multipe-choice-with-detail-panel";
@import "components/typography";*/

// Sections
@import "sections/navigation";
/*@import "sections/categories";
@import "sections/confirmation";
@import "sections/goodsType";
@import "sections/heading";
@import "sections/ogelResults";
@import "sections/ogelSummary";
@import "sections/summary";
@import "sections/tradeType";
@import "sections/viewOgel";*/

// Overrides
@import "overrides/back-link/back-link"
