// govuk-elements imports
// Settings (variables)
@import "../../../subprojects/lite-play-common/app/assets/template/stylesheets/colours";                                // Colour variables
@import "../../../subprojects/lite-play-common/app/assets/template/stylesheets/measurements";                           // Widths and gutter variables

// Mixins
@import "../../../subprojects/lite-play-common/app/assets/template/stylesheets/typography";                             // Core bold and heading mixins, also external links

// Components
@import "components/control-code-breadcrumbs";

.visually-hidden,
.outcome-sharing-options {
  display: none !important;
}

.print-only {
  display: unset;
}

.no-print,
#print {
  display: none;
}