@import "permissions-finder-print";

// GOV.UK elements
@import "../../../subprojects/lite-play-common/app/assets/template/stylesheets/elements/helpers";                       // Helper functions and classes

// Sections
@import "sections/viewOgel";

#global-cookie-message,
#global-header,
.phase-banner-alpha,
.phase-banner-beta
{
  display: none;
}

body {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
}

.font-weight-normal {
  font-weight: normal;
}

#licence-header {
  margin-top: $gutter;

  #licence-number h1 {
    line-height: 1em;
    font-size: 48px;
  }
}

.govuk-check-your-answers {

  display: table;

  > * {
    position: relative;
    display: table-row;

    > * {
      display: table-cell;
      border-bottom: 1px solid black;
      padding: em(12, 19) em(20, 19) em(9, 19) 0;
      margin: 0;
    }
  }

  .cya-question {
    font-weight: bold;
    margin: em(12, 19) 4em em(4, 19) 0;
  }
}