@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.categories.ArtsCulturalFirearmHistoricController

@(form: Form[_])
@standardPage("You may need an Arts Council licence, and an export licence", Some(heading("You may need an Arts Council licence, and an export licence"))){
  @errorSummary(form)
}{

  <p>
    Cultural goods exports are licensed by the Arts Council. As your export is a gun or firearm, you may also need an export licence from the Export Control Organisation.
  </p>

  <h2 class="heading-medium">Arts Council licence</h2>

  <p>
    You may need a licence for goods over 50 years old, depending on their value.
  </p>

  <p>
    You need a licence to export cultural goods on either a temporary or permanent basis.
  </p>

  <p>
    <a href="http://www.artscouncil.org.uk/sites/default/files/download-file/Guidance_for_exporters_issue_1_2016.pdf" class="external" rel="external" target="_blank">Read Arts Council guidance on export licensing for cultural goods (PDF, 520KB)<span class="visually-hidden"> (opens in a new tab)</span></a>.
  </p>

  <p>
    The Arts Council also issue an open general export licence (OGEL) for cultural goods. <a href="http://www.artscouncil.org.uk/sites/default/files/download-file/Open_general_export_licence_March_2015.pdf" class="external" rel="external" target="_blank">Read the licence conditions (PDF, 87KB)<span class="visually-hidden"> (opens in a new tab)</span></a>
  </p>

  <h2 class="heading-medium">Export licence</h2>

  <form action="@controllers.categories.routes.ArtsCulturalFirearmHistoricController.handleSubmit" method="POST">

    @contextFormParams()

    <p>
      You can continue to <button class="link underlined font-small" type="submit" name="action" value="@ArtsCulturalFirearmHistoricController.GO_TO_NON_MILITARY_FIREARMS">use this service</button> to find out whether you need an export licence to export a non-military firearm.
    </p>

  </form>

}