@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.categories.routes.ChemicalsCosmeticsController

@(form: Form[_])
@standardPage("You may need a licence if you are exporting dual-use goods", Some(heading("You may need a licence if you are exporting dual-use goods"))){
  @errorSummary(form)
}{

  <form action="@ChemicalsCosmeticsController.handleSubmit" method="POST">

    @contextFormParams()

    <p>
      Some chemicals are classed as dual use, meaning they can be used for both civil and military purposes. If you think this may apply to your export, or you are not sure, <button type="submit" class="link underlined font-small" name="action" value="goToSearch">use the search facility</button> to check whether your goods need a licence.
    </p>

  </form>

  <p>
    If you do not think your goods are dual use, you may still need to submit a notification or get prior approval before you can allow pesticides or hazardous chemicals to leave the EU. You can check the European Joint Research Centre database to find out if your export is restricted - <a href="http://www.hse.gov.uk/pic/banned-exports-imports.htm" class="external" target="_blank" rel="external">read how to use the database</a>.
  </p>

  <p>
    <a href="http://www.hse.gov.uk/pic/exporters/what.htm" class="external" target="_blank" rel="external">See a table of restricted chemicals and approvals they may need for export</a>
  </p>
  
}