@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.categories.routes.DualUseController;

@(form: Form[_])
@standardPage("Do your items have a dual use?", Some(Html("Do your items have a dual use?"))){
  @errorSummary(form)
}{


  <p>
    You need a licence to export some items mainly used for civilian purposes but which also have a military use.
  </p>

  <p>
    They are typically high-tech, advanced products, often with military standard specifications (ie not specifically designed for military use but with performance levels comparable to an equivalent military item). These are called dual-use items.
  </p>

  <p>
    Many items you might not think need a licence may in fact have a dual use, such as:
    <ul class="list list-bullet text">
      <li>nuclear facilities, equipment and materials</li>
      <li>telecommunications and information security</li>
      <li>non-nuclear materials and chemicals</li>
      <li>equipment for processing materials into finished goods</li>
      <li>marine vehicles, vessels and non-navigation equipment</li>
      <li>navigation systems</li>
      <li>propulsion systems</li>
      <li>computers</li>
      <li>sensors, lasers and real-time data processing</li>
      <li>other electronic equipment</li>
    </ul>
  </p>

  <form action="@DualUseController.handleSubmit()" method="POST">

    @contextFormParams()

    @formRadioBoolean(form("isDualUse"), Html("Could your items be dual use?"))

    <div class="form-group">
      @detailPanel("im-not-sure") { I'm not sure } {
        If there is a chance your items are dual use, you should choose <span class="bold-small">Yes</span> above and continue using this service to find out whether you need a licence.
      }
    </div>

    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>
    
  </form>
  
}