@import util._
@import views.html.common.page._
@import views.html.common.state._
@import models.ExportCategory

@(form: Form[_])
@standardPage(htmlTitle = "Your exports", pageHeading = Some(Html("What are you exporting?"))){
  @errorSummary(form)
} {

  <div class="panel panel-border-wide">
    <p>
      You can expand each item below for more details.
    </p>
  </div>

  <p>
    If you are exporting components, choose the category that contains the item that your component is designed to be part of.
  </p>

  <form action="@controllers.categories.routes.ExportCategoryController.handleSubmit()" method="POST">

    @contextFormParams()

    @detailPanel("mil"){@ExportCategory.MILITARY.getHeading()} {
      <p>
        This covers all military items, such as weapons, weapon-delivery systems, explosives, ammunition and ordnance, military vehicles, and any other military equipment or accessories. It includes specially designed or modified items and also component parts.
      </p>
      <p>
        It also includes software and source code to enable the use of military goods, and technology such as manuals, designs, models or blueprints for goods that themselves require an export licence.
      </p>
      <button type="submit" id="continue" class="button next" name="category" value="@ExportCategory.MILITARY.toString()">Continue</button>
    }

    @detailPanel("non-mil"){@ExportCategory.NON_MILITARY.getHeading()} {
      <p>
        This includes non-military firearms for which you have a valid certificate, such as shotguns and sporting rifles.
      </p>
      <p>
        It also includes related ammunition and weapon sights using non-electronic image enhancement.
      </p>
      <button type="submit" id="continue" class="button next" name="category" value="@ExportCategory.NON_MILITARY.toString()">Continue</button>
    }

    @detailPanel("dual-use"){@ExportCategory.DUAL_USE.getHeading()}{
      <p>
        <button type="submit" class="link underlined font-small" name="couldBeDualUse" value="true">Dual-use items</button> are civilian goods, equipment, technical information, documents or diagrams that can also be used for military purposes. They can be raw materials, components or finished systems.
      </p>
      <p>
        Dual-use items are typically high-tech, advanced products, often with military standard specifications. Encryption software is included here.
      </p>
      <p>
        You should choose this category if you are exporting goods that you think could be used for military purposes, even if you are not sure.
      </p>
      <button type="submit" id="continue" class="button next" name="category" value="@ExportCategory.DUAL_USE.toString()">Continue</button>
    }

    @detailPanel("torture-restraint"){@ExportCategory.TORTURE_RESTRAINT.getHeading()}{
      <p>
        This covers items that could be used for capital punishment, torture or other cruel, inhuman or degrading treatment or punishment. It also includes goods designed for the execution of human beings such as gallows, electric chairs and automatic drug-injection systems.
      </p>
      <button type="submit" id="continue" class="button next" name="category" value="@ExportCategory.TORTURE_RESTRAINT.toString()">Continue</button>
    }

    @detailPanel("radioactive"){@ExportCategory.RADIOACTIVE.getHeading()}{
      <p>
        This covers high-activity radioactive sources as defined by the International Atomic Energy Agency.
      <p>
      <p>
      Read guidance on <a href="https://www.gov.uk/guidance/controls-on-radioactive-sources" class="external" target="_blank" rel="external">controls on radioactive sources</a> for more information on the items covered in this category.
      </p>
      <p>
        For radioactive waste, use the Waste category below.
      </p>
      <button type="submit" id="continue" class="button next" name="category" value="@ExportCategory.RADIOACTIVE.toString()">Continue</button>
    }
    @detailPanel("waste"){@ExportCategory.WASTE.getHeading()}{
      <p>
        This includes household and commercial waste, hazardous, non-hazardous and green-list waste, and radioactive waste.
      <p>
      <button type="submit" id="continue" class="button next" name="category" value="@ExportCategory.WASTE.toString()">Continue</button>
    }

    @detailPanel("chemicals-cosmetics"){@ExportCategory.CHEMICALS_COSMETICS.getHeading()}{
      <p>
        This includes toiletries and beauty products, detergents, disinfectants, domestic cleaners, industrial chemicals, chemical raw materials and food-handling materials.
      </p>
      <button type="submit" id="continue" class="button next" name="category" value="@ExportCategory.CHEMICALS_COSMETICS.toString()">Continue</button>
    }

    @detailPanel("arts-cultural"){@ExportCategory.ARTS_CULTURAL.getHeading()}{
      <p>
        This includes cultural artefacts, works of art, antiques (including weapons), manuscripts and archaeological items.
      </p>
      <button type="submit" id="continue" class="button next" name="category" value="@ExportCategory.ARTS_CULTURAL.toString()">Continue</button>
    }

    @detailPanel("plants-animals"){@ExportCategory.PLANTS_ANIMALS.getHeading()}{
      <p>
        This includes live animals and birds, non-edible flowers and plants, seeds and other wildlife.
      </p>
      <button type="submit" id="continue" class="button next" name="category" value="@ExportCategory.PLANTS_ANIMALS.toString()">Continue</button>
    }

    @detailPanel("Food"){@ExportCategory.FOOD.getHeading()}{
      <p>
        This includes any products suitable for human consumption, including fresh food and processed food.
      </p>
      <button type="submit" id="continue" class="button next" name="category" value="@ExportCategory.FOOD.toString()">Continue</button>
    }

    @detailPanel("medicines-drugs"){@ExportCategory.MEDICINES_DRUGS.getHeading()}{
      <p>
        This includes medicinal products, prescription drugs and controlled drugs.
      </p>
      <button type="submit" id="continue" class="button next" name="category" value="@ExportCategory.MEDICINES_DRUGS.toString()">Continue</button>
    }

    @detailPanel("technical-assistance"){@ExportCategory.TECHNICAL_ASSISTANCE.getHeading()}{
      <p>
        This covers any technical support for military or dual-use items. This includes:
      </p>
      <ul class="list list-bullet text">
        <li>repairs</li>
        <li>development</li>
        <li>manufacture</li>
        <li>testing</li>
        <li>maintenance</li>
        <li>any other technical service</li>
      </ul>
      <p>
        You should choose this category if you are providing training, instruction or advice, working knowledge, skills or consulting services, either in person, verbally or electronically.
      </p>
      <button type="submit" id="continue" class="button next" name="category" value="@ExportCategory.TECHNICAL_ASSISTANCE.toString()">Continue</button>
    }

    @detailPanel("financial-assistance"){@ExportCategory.FINANCIAL_ASSISTANCE.getHeading()}{
      <p>
        This covers the provision of brokering services, insurance, financing and financial support related to the sale, supply, transfer or export of goods and technology to certain destinations. It includes the processing of payments for prohibited or restricted trade transactions.
      </p>
      <button type="submit" id="continue" class="button next" name="category" value="@ExportCategory.FINANCIAL_ASSISTANCE.toString()">Continue</button>
    }

    <p class="category-or">
      <span class="font-medium">or</span>
    </p>

    @detailPanel("none"){@ExportCategory.NONE.getHeading()}{
      <p>
        Choose this if you are sure your items do not fall into any of the categories above.
      </p>
      <button type="submit" id="continue" class="button next" name="category" value="@ExportCategory.NONE.toString()">Continue</button>
    }

  </form>

  <script type="text/javascript">
    $(document).ready(LITEPermissionsFinder.ExportCategories.setupPage);
  </script>
}