@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._

@import controllers.categories.routes.FinancialTechnicalAssistanceController

@(form: Form[_])
@standardPage("You should contact the Export Control Organisation to find out if you need a licence", Some(Html("You should contact the Export Control Organisation to find out if you need a licence"))){
  @errorSummary(form)
}{

  <p>
    You can not provide technical or financial assistance, such as repair, training or consultancy services, in relation to the supply, delivery, manufacture, maintenance or use of anything that can or will be used for weapons of mass destruction (WMDs). This includes directly providing assistance or agreeing to do so, and indirectly by making arrangements under which another person provides assistance or agrees to do so.
  </p>

  <p>
    Whether you need a licence to provide technical or financial assistance not related to WMDs will depend on whether any sanctions or embargoes apply to the destination country. <a href="https://www.gov.uk/guidance/current-arms-embargoes-and-other-restrictions" class="external" target="_blank" rel="external">Find out about current sanctions, arms embargoes and other restrictions</a>.
  </p>

  <p>
    To find out whether you need a licence you should contact the Export Control Organisation, by email at <a href="mailto:eco.help&commat;trade.gsi.gov.uk">eco.help&commat;trade.gsi.gov.uk</a> or by phone on 020 7215 4594.
  </p>

  <p>
    If you are supplying technical or financial assistance within the EU, and not in connection with WMDs, it is likely that you do not need a licence.
  </p>

  <form action="@FinancialTechnicalAssistanceController.handleSubmit" method="POST">

    @contextFormParams()

    <p>
      If this applies to your export, or you are not sure, continue to use this service to check whether you need a licence to export documentation for:
    </p>

    <ul class="list list-bullet text">
      <li><button type="submit" class="link underlined font-small" name="action" value="goToMilitary">military items</button></li>
      <li><button type="submit" class="link underlined font-small" name="action" value="goToDualUse">non-military (dual-use) items</button></li>
    </ul>

  </form>

}