@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.categories.NonMilitaryController

@(form: Form[_], question: java.lang.String)
@standardPage(question, Some(Html(question))){
  @errorSummary(form)
}{

  <form action="@controllers.categories.routes.NonMilitaryController.handleSubmit" method="POST">

    @contextFormParams()

    @formRadioGroup(form("selectedOption"), NonMilitaryController.YES_NO_OPTIONS) { }

    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>

  </form>

}