@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._

@(form: Form[_], question: java.lang.String)
@standardPage(question, Some(heading(question))){
  @errorSummary(form)
}{

  <form action="@controllers.categories.routes.NonMilitaryController.handleSubmit" method="POST">

    @contextFormParams()

    @formRadioBoolean(form("selectedOption"), Html(""))

    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>

  </form>

}