@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.categories.NonMilitaryController

@(form: Form[_])
@standardPage("Will you be taking the firearms or ammunition out of the UK yourself?", Some(Html("Will you be taking the firearms or ammunition out of the UK yourself?"))){
  @errorSummary(form)
}{

  <form action="@controllers.categories.routes.NonMilitaryController.handleSubmit" method="POST">

    @contextFormParams()

    @formRadioGroup(form("nonMilitaryFirearmsExportedBySelf"), NonMilitaryController.FIREARMS_EXPORTED_BY_SELF_OPTIONS) { }

    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>

  </form>

}