@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.categories.PlantsAnimalsController

@(form: Form[_])
@standardPage("Plants and animals", Some(heading("Plants and animals"))){
  @errorSummary(form)
}{

  <form action="@controllers.categories.routes.PlantsAnimalsController.handleSubmit" method="POST">

    @contextFormParams()

    @formRadioGroup(form("lifeType"), PlantsAnimalsController.LIFE_TYPE_OPTIONS){ Which of the following best describes your export? }

    <div class="panel panel-border-wide form-group">
      <a href="https://www.worldwildlife.org/species/directory?direction=desc&amp;sort=extinction_status" class="external" target="_blank" rel="external">See a list of endangered species<span class="visually-hidden"> (opens in a new tab)</span></a>
    </div>
  
    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>
    
  </form>
  
}