@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.categories.routes.RadioactiveController
@import models.RadioactiveStage


@(form: Form[_])
@standardPage("You need a licence to export radioactive materials above certain activity thresholds", Some(heading("You need a licence to export radioactive materials above certain activity thresholds"))){
  @errorSummary(form)
}{

  <p>
    The export of certain high-activity radioactive sources is controlled in order to minimise the risk of their falling into the hands of terrorists or criminal groups.
  </p>

  <p>
    <a href="https://www.gov.uk/guidance/controls-on-radioactive-sources#scope-of-the-controls-on-radioactive-sources" class="external"
    target="_blank" rel="external">View the activity thresholds of the radioactive materials controlled<span class="visually-hidden"> (opens in a new tab)</span></a>
  </p>



  <form action="@RadioactiveController.handleSubmit" method="POST">

    @contextFormParams()

    <p>
      You can use the open general export licence for radioactive sources to export these materials to certain destinations if they are within the permitted thresholds.
      If you want to register for this licence, continue to
        <button type="submit" class="link underlined font-small" role="link" name="action" value="@RadioactiveStage.CRS_SELECTED.name()">use this service</button>
        to find out if your export destination is permitted.
    </p>


    <h2 class="heading-medium">Other radioactive materials and thresholds</h2>

    <p>If your material is not listed or is below the activity threshold shown, then you should continue to
      <button type="submit" class="link underlined font-small" role="link" name="action" value="@RadioactiveStage.CONTINUE.name()">use this service</button> to find out if your items need a licence.</p>

  </form>

  <p>
    Read more about <a href="https://www.gov.uk/guidance/controls-on-radioactive-sources" class="external" target="_blank" rel="external">controls on radioactive sources<span class="visually-hidden"> (opens in a new tab)</span></a>.
  </p>

}