@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.routes.ContinueApplicationController;

@(form: Form[_])
@standardPage("Returning to this service", Some(heading("Returning to this service"))){
  @errorSummary(form)
}{

  <form action="@ContinueApplicationController.handleSubmit" method="POST">

    @contextFormParams()

    @formInput(form("applicationCode"), Some(Html(""))) {
      Enter the code you received when you saved your progress
    }

    <div class="form-group">
      <button type="submit" class="button">Find and resume</button>
    </div>

    <p>
      Don't have these details? <a href="@routes.StartApplicationController.renderForm()">Start again</a>.
    </p>
    
  </form>
  
}