@import util._
@import views.html.common.page._
@import views.html.common.form._
@import controllers.routes.ContinueApplicationController;

@this(standardPage: standardPage)
@(form: Form[_])
@standardPage("Returning to this service", Some(heading("")), showBackLink = true) {
@errorSummary(form)
}{

<form action="@ContinueApplicationController.handleSubmit" method="POST">

	@views.html.helper.CSRF.formField

	@formInput(form("resumeCode"), Some(Html("<h2 class='govuk-heading-l'>Returning to this service</h2><div class='govuk-form-group'><p class='govuk-label'>Enter the code you received when you saved your progress</p></div>")), "govuk-input--width-10") { }

	<button type="submit" class="govuk-button">Find and resume</button>

	<div class="govuk-form-group">
		<p class="govuk-label">
			Don't have these details? <a href="@routes.StartApplicationController.createApplication()" class="govuk-link">Start again</a>.
		</p>
	</div>

</form>

}
