@import util._
@import views.html.common.page._
@import views.html.common.form._


@import controllers.services.controlcode.frontend.Ancestor
@import controllers.services.controlcode.frontend.ControlCodeData
@(form: Form[_], primaryCode: ControlCodeData, greatestAncestorCode: Option[Ancestor],
  otherAncestorCodes: List[Ancestor])
@standardPage(primaryCode.title, Some(Html(primaryCode.title)), backLinkText = "Possible matches"){
  @errorSummary(form)
}{

  <table class="tree">

    @if(greatestAncestorCode.isDefined) {
      <tr class="tree-row">
        <td class="tree-line-first">
          <div class="tree-wrapper-first">
            <div class="tree-circle-first"></div>
          </div>
        </td>
        <td class="tree-desc">
          <span class="font-small">@Html(greatestAncestorCode.get.friendlyDescription)</span>
        </td>
        <td class="tree-code">
          <div class="tree-code-wrapper">
            <span class="font-small">@greatestAncestorCode.get.controlCode</span>
          </div>
        </td>
      </tr>
    }

    @for(otherAncestorCode <- otherAncestorCodes){
      <tr class="tree-row">
        <td class="tree-line" >
          <div class="tree-circle"></div>
        </td>
        <td class="tree-desc">
          <span class="font-small">@Html(otherAncestorCode.friendlyDescription)</span>
        </td>
        <td class="tree-code">
          <div class="tree-code-wrapper">
            <span class="font-small">@otherAncestorCode.controlCode</span>
          </div>
        </td>
      </tr>
    }

    <tr class="tree-row-last">
      <td class="tree-line-last">
        <div class="tree-wrapper-last">
          <span class="bold-medium">&#10003;<span class="font-small"></span></span>
        </div>
      </td>
      <td class="tree-desc-last">
        <span class="font-small">@Html(primaryCode.friendlyDescription)</span>
      </td>
      <td class="tree-code-last">
        <div class="tree-code-wrapper-last">
          <span class="font-small">@primaryCode.controlCode</span>
        </div>
      </td>
    </tr>

  </table>

  <form action="@routes.ControlCodeController.handleSubmit()" method="POST">

    @formRadioBoolean(form("couldDescribeItems"), Html("Could this describe your items"), "Yes", "No")

    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>

  </form>

}