@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import models.common.Country
@(form: Form[_], countries: List[Country], numberOfThroughDestinationCountries: Int)


@standardPage("Where are your items being sent to?", Some(Html("Where are your items being sent to?"))){
  @errorSummary(form)
}{

  <form action="@routes.DestinationCountryController.handleSubmit()" method="POST">

    @contextFormParams()

    <input type="submit" class="hidden"></input>

    @countrySelect(form("finalDestinationCountry"), null, false, countries)

    <div class="form-group">
      @detailPanel("destination-help"){
        Can't find your destination?
      } {

        <p>
          If you can't find your destination, country or territory you can get help from the
          government's Export Control Organisation
        </p>

          @helpInfoPanel()

      }
    </div>

    @formRadioBoolean(form("itemThroughMultipleCountries"), Html("Will your items pass through any other countries before they reach their final destination?"))

    <p class="js-hidden">
      <span class="bold-medium">If yes, please add the countries below</span>
    </p>

    <div id="through-destination-countries-wrapper">

      @countrySelectGenerator(form, "throughDestinationCountries", numberOfThroughDestinationCountries, countries)

      @if(numberOfThroughDestinationCountries < DestinationCountryController.MAX_NUMBER_OF_THROUGH_COUNTRIES) {
        <div class="form-group">
          <button type="submit" class="link" name="addAnotherThroughDestination" value="true">Add another destination</button>
        </div>
      }

    </div>

    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>
  </form>

}