@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import models.GoodsType

@(form: Form[_])
@standardPage("Are you exporting goods, software or technical information?", Some(heading("Are you exporting goods, software or technical information?"))){
  @errorSummary(form)
}{

  <form action="@routes.GoodsTypeController.handleSubmit()" method="POST">

    @contextFormParams()

    @fieldContainer(form("goodsType")) {

      <div class="form-group">
        @formRadio(form("goodsType"), "<span class=\"heading-small\">Physical goods</span><br>For example vehicles, protective hardware, nuclear materials, electronic equipment, or any other physical items",
          GoodsType.PHYSICAL.value(), true, "label-goods-type")
      </div>

      <div class="form-group">
        @formRadio(form("goodsType"), "<span class=\"heading-small\">Software</span><br>For example programmes or source code to enable the use of goods that themselves require an export licence",
          GoodsType.SOFTWARE.value(), true, "label-goods-type")
      </div>

      <div class="form-group">
        @formRadio(form("goodsType"), "<span class=\"heading-small\">Technical information</span><br>For example manuals, designs, models or blueprints for goods that themselves require an export licence",
          GoodsType.TECHNOLOGY.value(), true, "label-goods-type")
      </div>

    }

    <button type="submit" class="button">Continue</button>

  </form>
}