@import util._
@import views.html.common.state._
@import controllers.routes.EntryPointController

@govukTemplateDefaults("Import / export licensing service") {
  <main id="content" role="main">

    @phaseBanner()

    <div class="breadcrumbs">
      <ol role="breadcrumbs">
        <li><a href="http://www.gov.uk">Home</a></li>
        <li><a href="/">Import &amp; export</a></li>
        <li>Import &amp; export licensing</li>
      </ol>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">

        <header class="page-header">
          <h1 class="heading-xlarge">Find out if you need an import or export licence</h1>
        </header>

        <p>Use this service to:</p>
        <ul class="list list-bullet">
          <li>find out if you need a licence to move or send goods, software or technology between countries</li>
          <li>apply and register for import and export licences and permissions</li>
          <li>find the export control classification of an item</li>
        </ul>

        <p>You will answer questions about:</p>
        <ul class="list list-bullet">
          <li>where the items are being sent to and from</li>
          <li>what the items are</li>
        </ul>

        <form action="@EntryPointController.handleSubmit" method="POST">

          @contextFormParams()

          <button type="submit" class="button button-start start-application" name="action" value="start">Start now</button>

          <button type="submit" class="button secondary button-resume" name="action" value="continue">Resume</button>

        </form>

      </div>

      <div class="column-third">
        <div class="govuk-related-items">
          <h2 class="heading-medium">Ready to make an application?</h2>

          <ul class="font-xsmall">
            <li><a href="#">Quick links</a></li>
          </ul>

          <h2 class="heading-medium">Need some help?</h2>

          <ul class="font-xsmall">
            <li>Telephone helpline: 0207 123 4567</li>
            <li><a href="#">Email helpline</a></li>
          </ul>
        </div>
      </div>

    </div>
  </main>
}