@import util._
@import controllers.routes.EntryPointController
@import models.template.FeedbackConfig
@import models.template.DashboardConfig
@import views.html.common.form.formCheckbox

@this(govukTemplateDefaults: govukTemplateDefaults, feedbackConfig: FeedbackConfig, dashboardConfig: DashboardConfig)
@govukTemplateDefaults("License controlled items and services - GOV.UK", Html("")) {

<main id="content" role="main" class="govuk-width-container">
	<div class="grid-row" id="contentStart">
		<div class="column-two-thirds">

		    <div class="breadcrumbs">
		      <ol aria-label="Breadcrumbs">
		        <li><a href="http://www.gov.uk">Back</a></li>
		      </ol>
		    </div>

			<span class="govuk-caption-l">You have selected:</span>
			<h2 class="govuk-heading-l">Banana (Banana components)</h2>

			<h3 class="govuk-heading-m">Information</h3>

			<div class="govuk-inset-text">
				<p class="bold-small">
					Bacon Ipsum
				</p>
				<p class="bold-small">
					<a href="https://google.com" class="external" rel="external" target="_blank">View the full text of the OGEL <span class="govuk-visually-hidden">(opens in a new tab)</span></a>
				</p>
			</div>

			<h3 class="govuk-heading-m">Your Journey</h3>

			<h3 class="govuk-heading-m">Last Steps</h3>
			<div class="banner danger-banner">
				<span class="govuk-visually-hidden">Warning:</span>
				You should read the licence in full and confirm you can comply with the conditions before registering for an open general export licence (OGEL).
			</div>

			<form method="POST">
				<div class="govuk-form-group">

				</div>
				<button type="submit" class="govuk-button govuk-button--start">Register</button>
			</form>

		</div>
	</div>
</main>
}
