@import controllers.routes.OnboardingController
@import util._
@import utils.common.SelectOption
@import views.html.common.form._
@import views.html.common.page._
@import views.html.common.state._

@this(standardPage: standardPage)
@(form: Form[_], options: List[SelectOption], sessionId: String, resumeCode: String)
@question = { Has your item been specially designed or modified for military use? }

@standardPage(question.toString, Some(heading(question.toString)), resumeCode = resumeCode) {
  @errorSummary(form)
} {

  <div class="form-hint form-group">
    This includes software and technical information as well as physical goods, services and components. This refers to your item's original design intent (ie was it originally and specifically designed for military purposes) and not whether it's going to be exported to a military end user
  </div>

  <form action="@routes.OnboardingController.handleSubmit(sessionId)" method="POST">

    @contextFormParams()
    @formRadioGroup(form("speciallyDesigned"), options, promptCssClass = "visually-hidden")(question)

    <button type="submit" class="button">Continue</button>
  </form>
}