@import controllers.routes.OnboardingController
@import util._
@import utils.common.SelectOption
@import views.html.common.form._
@import views.html.common.page._

@this(standardPage: standardPage)
@(form: Form[_], options: List[SelectOption], sessionId: String, resumeCode: String)
@question = { What list would you like to look through? }

@standardPage(question.toString, Some(heading(question.toString)), resumeCode = resumeCode, showBackLink = true) {
@errorSummary(form)
} {

<div class="govuk-form-group">
	<p class="govuk-caption-m">
    This is a test description! Content designer would write something here
	</p>
</div>

<form action="@routes.OnboardingController.handleSubmit(sessionId)" method="POST">

	@views.html.helper.CSRF.formField
	@formRadioGroup(form("speciallyDesigned"), options, promptCssClass = "govuk-visually-hidden")(question)

	<button type="submit" class="govuk-button">Continue</button>
</form>
}
