@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import controllers.routes.StartApplicationController

@(form: Form[_], applicationCode: String)
@standardPage("Saving your progress", Some(Html("Saving your progress"))){
  @errorSummary(form)
}{

  <p>
    You can save your progress and return to this service later. Enter your email address below and we will send you a code that you can use to return at any time.
  </p>

  <form action="@StartApplicationController.handleSubmit" method="POST">

    @contextFormParams()

    @formInput(form("emailAddress")) {
      Your email address
    }

    <p>
      If you would rather write down your code, it is:
    </p>

    <div class="panel panel-border-wide">
      <span class="bold-xlarge">@applicationCode</span>
    </div>

    <p>
      You can also <a href="javascript:window.print();">print this page</a>.
    </p>

    <div class="form-group">
      <button type="submit" class="button">Save and continue</button>
    </div>

  </form>

}