@import controllers.routes.StartApplicationController
@import util._
@import views.html.common.form._
@import views.html.common.page._
@import views.html.common.state._

@(form: Form[_], sessionId: String, resumeCode: String)
@standardPage("Before you begin", Some(heading("Before you begin"))) {
  @errorSummary(form)
} {

  <p>
    You don't have to complete everything in one go.
    If you want to return to this service later, you can use this code to recover your previous answers:
  </p>

  <div class="panel panel-border-wide">
    <span class="bold-xlarge">@resumeCode</span>
  </div>

  <p>
    This code will remain at the top of the screen as you use the service.
  </p>

  <form action="@StartApplicationController.handleSubmit(sessionId)" method="POST">

    @contextFormParams()

    <p>
    @detailPanel("email-me-code") {Email me this code} {
      @formInput(form("emailAddress")) {
        Your email address (optional)
      }
    }
    </p>

    <div class="form-group">
      <button type="submit" class="button">Continue</button>
    </div>

    <p>
      <a href="javascript:window.print();">Print this page</a>
    </p>

  </form>

  <script type="text/javascript">
    $(document).ready(function(){LITEPermissionsFinder.StartApplication.setupPage()});
  </script>
}