@import models.summary.Summary
@import util._
@import views.html.common.page._
@import views.html.common.state._

@(form: Form[_], summary: Summary, isResumedApplication: Boolean)

@standardPage("Check your answers so far", Some(heading("Check your answers so far")), twoThirdsColumn = false) {
  @errorSummary(form)
}{

  @if(!isResumedApplication) {

    <p>
      Your code to return to this service later is:
    </p>

    <div class="panel panel-border-wide">
      <span class="bold-xlarge">@summary.applicationCode</span>
    </div>
  }

  <form action="@{if(isResumedApplication) routes.SummaryController.handleSubmitContinue() else routes.SummaryController.handleSubmit()}" method="POST">

    @contextFormParams()

    @if(!summary.summaryFields.isEmpty) {

      <div class="form-group">
        <table class="check-your-answers">
          <thead>
            <th colspan="3"> </th>
          </thead>
          <tbody>
          @for(summaryField <- summary.summaryFields) {
            <tr class="@{if (!summaryField.isValid) "invalid-field"}">
              <td class="summary-item-heading">@summaryField.getHeading</td>
              @if(summaryField.isContentHtml) {
                <td>@Html(summaryField.getContent)</td>
              } else {
                <td>@summaryField.getContent</td>
              }
              <td class="change-answer"><a class="not-visited" href="@summaryField.getEditLinkUrl">Change <span class="visuallyhidden">@summaryField.getHeading</span></a></td>
            </tr>
          }
          </tbody>
        </table>
      </div>

    } else {

      <h2 class="heading-medium">We've not found any answers so far, please continue with your application.</h2>

    }

    @if(isResumedApplication) {

      <button class="button" type="submit" name="action" value="continue">Continue to your application</button>

    } else {

      <button class="button" type="submit" name="action" value="register" @if(!summary.isValid){disabled="disabled"}>Continue to licence registration</button>

    }

  </form>

}