@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import models.summary.Summary

@(form: Form[_], summary: Summary, isResumedApplication: Boolean)

@standardPage("Check your answers so far", Some(Html("Check your answers so far"))) {
  @errorSummary(form)
}{

  @if(!isResumedApplication) {

    <p>
      Your code to return to this service later is:
    </p>

    <div class="panel panel-border-wide">
      <span class="bold-xlarge">@summary.applicationCode</span>
    </div>
  }

  <form action="@{if(isResumedApplication) routes.SummaryController.handleSubmitContinue() else routes.SummaryController.handleSubmit()}" method="POST">

    @contextFormParams()

    @if(!summary.summaryFields.isEmpty) {

      <div class="form-group">
        <table>
          <thead>
            <th colspan="3"> </th>
          </thead>
          <tbody>
          @for(summaryField <- summary.summaryFields) {
            <tr class="@{if (!summaryField.isValid) "invalid-field"}">
              <td class="summary-item-heading">@summaryField.heading</td>
              @if(summaryField.isContentHtml) {
                <td>@Html(summaryField.content)</td>
              } else {
                <td>@summaryField.content</td>
              }
              <td><a class="not-visited" href="@summaryField.editLinkUrl">Change</a></td>
            </tr>
          }
          </tbody>
        </table>
      </div>

    } else {

      <h2 class="heading-medium">We've not found any answers so far, please continue with your application.</h2>

    }

    @if(isResumedApplication) {

      <button class="button" type="submit" name="action" value="continue">Continue to your application</button>

    } else {

      <button class="button" type="submit" name="action" value="register">Continue to licence registration</button>

    }

  </form>

}