@import util._
@import views.html.common.page._
@import views.html.common.form._
@import views.html.common.state._
@import models.TradeType

@(form: Form[_])

@standardPage("Where are your items going?", Some(heading("Where are your items going?"))) {
  @errorSummary(form)
}{

  <div class="panel panel-border-wide">
    <p>
      You should use this service once for each type of item you are moving. Multiple item searches will be added later.
    </p>
  </div>
  <br>

  <form action="@routes.TradeTypeController.handleSubmit()" method="POST">

    @contextFormParams()

    @fieldContainer(form("tradeType")) {

      <div class="form-group">
        @formRadio(form("tradeType"), "<span class=\"heading-small\">From the UK to another country</span><br>This is known as an export",
          TradeType.EXPORT.toString, true, "label-trade-type")
      </div>

      <div class="form-group">
        @formRadio(form("tradeType"), "<span class=\"heading-small\">From another country to the UK</span><br>This is known as an import",
          TradeType.IMPORT.toString, true, "label-trade-type")
      </div>

      <div class="form-group">
        @formRadio(form("tradeType"), "<span class=\"heading-small\">Between non-UK countries</span><br>This is known as trafficking or brokering",
          TradeType.BROKERING.toString, true, "label-trade-type")
      </div>

      <div class="form-group">
        @formRadio(form("tradeType"), "<span class=\"heading-small\">Through the UK, from one non-UK country to another</span><br>This is known as transhipment",
          TradeType.TRANSSHIPMENT.toString, true, "label-trade-type")
      </div>

      <button type="submit" class="button">Continue</button>
    }

  </form>

}