@import util._
@import views.html.frontendComponents.controlCodeBreadcrumbs._
@import play.twirl.api.HtmlFormat

@this(standardPage: standardPage)

@title = { Control code breadcrumbs test }

@breadcrumbsTest(isWide: Boolean = false) = {
  @controlCodeBreadcrumbs(isWide = isWide){
    @controlCodeBreadcrumbsStep(){
      This is the first step. It doesn't have a change URL.
    }
    @controlCodeBreadcrumbsStep("/some-url"){
      This is the second step. It does have a change URL.

      @controlCodeBreadcrumbsDetailBox(){
        This is some content inside a detail box on an intermediate step
      }(HtmlFormat.empty)
    }
    @controlCodeBreadcrumbsStep("/some-other-url"){
      This is the third step. It does have a change URL.

      @controlCodeBreadcrumbsDetailBox(){
        This is some content inside a detail box on an intermediate step. It has some notes.
      }{
        @controlCodeBreadcrumbsNotes(){
          <li>Note 1</li>
          <li>Note 2</li>
          <li>Note 3</li>
        }
      }
    }
    @controlCodeBreadcrumbsStep("/some-other-url"){
      This is the fourth step. It has some notes in a detail box, but no other content in the box

      @controlCodeBreadcrumbsDetailBox()(HtmlFormat.empty){
        @controlCodeBreadcrumbsNotes(){
          <li>Note 1</li>
          <li>Note 2</li>
          <li>Note 3</li>
        }
      }
    }
    @controlCodeBreadcrumbsDetailBox(isPathStep = true){
      This is the last step, in a detail box. It has some notes.
    }{
      @controlCodeBreadcrumbsNotes() {
        <li>Note 1</li>
        <li>Note 2</li>
        <li>Note 3</li>
      }
    }
  }
}

@standardPage(title.toString, Some(heading(title.toString())), twoThirdsColumn = false){
}{
<div class="grid-row">
  <div class="column-two-thirds">
    <h2 class="heading-medium">Wide size</h2>
    <p>Use this version when the breadcrumbs are in a wide column, like the main content.</p>

    @breadcrumbsTest(isWide = true)
  </div>
  <div class="column-one-third">
    <h2 class="heading-medium">Standard size</h2>
    <p>Use this when the breadcrumbs are in a narrow column, like a sidebar.</p>

    @breadcrumbsTest()
  </div>
</div>
}