@import uk.gov.bis.lite.user.api.view.UserDetailsView
@import uk.gov.bis.lite.customer.api.view.SiteView
@import util._
@import views.html.common.page._
@import views.html.common.form._

@this(standardPage: standardPage)
@(form: Form[_], resumeCode: String, submitUrl: String)

@standardPage("Generate a \"No Licence Required\" document", Some(heading("Generate a \"No Licence Required\" document")), twoThirdsColumn = true, resumeCode = resumeCode) {
  @errorSummary(form)
} {
  <p>
    Once you have determined your item is not controlled by the UK Military List you can generate a no licence required
    document (NLR). You can do this unless any of the following apply:
    <ul class="list list-bullet">
      <li>sanctions</li>
      <li>embargoes</li>
      <li>military end-use controls</li>
      <li>weapons of mass destruction end-use controls</li>
    </ul>
  </p>

  <form action="@submitUrl" method="POST" enctype="multipart/form-data">

    @views.html.helper.CSRF.formField

    @formTextarea(form("description"), rows = "4", labelClass = "form-label-bold", cssClass = "form-control-wide") {
      Describe the item being exported in the field below
    }

    <p>
      This should be the same description you use on other export documentation. It will be attached to your NLR document
      along with the choices you made in this service.
    </p>

    <div class="notice">
      <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
      </i>
      <strong>Always double-check if your items are controlled. If you export controlled items without the correct export
        licence you could:
        <ul class="list list-bullet">
          <li>have your items seized</li>
          <li>face a fine</li>
          <li>serve up to 10 years in prison</li>
        </ul>
      </strong>
    </div>

    <button type="submit" class="button" name="action" value="continue">Generate NLR</button>

  </form>

}
