@import uk.gov.bis.lite.user.api.view.UserDetailsView
@import uk.gov.bis.lite.customer.api.view.SiteView
@import models.view.BreadcrumbView
@import models.view.AnswerView
@import util._
@import views.html.triage.decontrolBreadcrumb
@import models.view.BreadcrumbItemView

@(resumeCode: String, userDetailsView: UserDetailsView, date: String, address: SiteView.SiteViewAddress, outcomeType: String, nlrBreadcrumb: Html)

@standardPage("NLR LETTER", Some(heading(""))) {
} {

  <p>
    <a href="javascript:window.print();">Print this page</a>
  </p>

  <p>
    Reference Code : @resumeCode
  </p>
  <p>
    @userDetailsView.getTitle @userDetailsView.getFullName
  </p>
  <p>
    @address.getPlainText
  </p>
  <p>
    Tel @userDetailsView.getContactPhoneNumber
  </p>
  <p>
    Email @userDetailsView.getContactEmailAddress
  </p>

  <p>
    Date @date
  </p>

  <p>
  Dear @userDetailsView.getTitle @userDetailsView.getLastName
  </p>

  <p>
    Schedule of Goods
  </p>
  <p>
    The following is your assessment of your item against the UK Strategic Export Control Lists.
  </p>
    @nlrBreadcrumb

}