@import uk.gov.bis.lite.user.api.view.UserDetailsView
@import uk.gov.bis.lite.customer.api.view.SiteView
@import util._

@(resumeCode: String, userDetailsView: UserDetailsView, date: String, address: SiteView.SiteViewAddress)

@standardPage("NLR LETTER", Some(heading(""))) {
} {

  <p>
    <a href="javascript:window.print();">Print this page</a>
  </p>

  <p>
    Reference Code : @resumeCode
  </p>
  <p>
    @userDetailsView.getTitle @userDetailsView.getFullName
  </p>
  <p>
    @address.getPlainText
  </p>
  <p>
    Tel @userDetailsView.getContactPhoneNumber
  </p>
  <p>
    Email @userDetailsView.getContactEmailAddress
  </p>

  <p>
    Date @date
  </p>

  <p>
  Dear @userDetailsView.getTitle @userDetailsView.getLastName
  </p>

}