@import util._

@this(standardPage: standardPage)
@(sessionId: String, resumeCode: String, nlrType: String, stageId: String)

  @nlrSuccess = {You have successfully registered a "No Licence Required" letter}

  @standardPage(nlrSuccess.toString(), Some(heading(nlrSuccess.toString)), resumeCode = resumeCode) {
  } {
      <p>
        Some content about what you can, and can't, do with this NLR.
        Lorem ipsum dolor sit amet consectetur adipiscing nam.
      </p>

      <p>
        @if(nlrType.equals("DECONTROL")) {
          <a href= '@routes.NlrController.generateDecontrolNlrLetter(sessionId, stageId, resumeCode)' class="bold font-medium">
            View your "No Licence Required" letter
          </a>
        }
        @if(nlrType.equals("ITEM_NOT_FOUND")) {
          <a href= '@routes.NlrController.generateNotFoundNlrLetter(sessionId, stageId, resumeCode)' class="bold font-medium">
            View your "No Licence Required" letter
          </a>
        }
      </p>

  }


