@import util._

@(resumeCode: String, sessionId: String)

  @nlrSuccess = {You have successfully registered a "No Licence Required" letter}

  @standardPage(nlrSuccess.toString(), Some(heading(nlrSuccess.toString)), resumeCode = resumeCode) {
  } {
      <p>
        Some content about what you can, and can't, do with this NLR.
        Lorem ipsum dolor sit amet consectetur adipiscing nam.
      </p>

    <p>
      <a href='@routes.NlrController.generateNlrLetter(sessionId, resumeCode)' class="bold font-medium">
      View your "No Licence Required Letter"
      </a>
    </p>

  }


